In [1]:
from airflow import DAG
from airflow.operators.bash_operator import BashOperator
from datetime import datetime, timedelta

[2017-05-15 23:32:30,560] {__init__.py:57} INFO - Using executor SequentialExecutor

In [17]:
default_args = {
    'owner': 'airflow',
    'depends_on_past': False,
    'start_date': datetime.now(),
    'email': ['valesco19@gmail.com'],
    'email_on_failure': True,
    'email_on_success': True,
    'email_on_retry': False,
    'retries': 0}

dag = DAG('tutorial', default_args = default_args)

t1 = BashOperator(task_id = 'forex_rates',
        bash_command = 'python retrieve_forex_rates.py',
        dag = dag)

t2 = BashOperator(task_id = 'indices_quotes',
        bash_command = 'python retrieve_indices_quotes',
        retries = 3,
        dag = dag)

templated_command = """
            {% for i in range(5) %}
                echo "{{ ds }}"
                echo "{{ macros.ds_add(ds, 7)}}"
                echo "{{ params.my_param }}"
            {% endfor %} 
            """

#t3 = BashOperator(task_id = 'templated',
                 #bash_command = templated_command,
                 #params = {'my_param': 'Parameter I passed in'},
                 #dag = dag)

t2.set_upstream(t1)
#t3.set_upstream(t1)

In [8]:
now = datetime.now()

currency_ls = []
rate_ls = []

for currency, rate in data['rates'].items():
    currency_ls.append(currency)
    rate_ls.append(rate)
    
rate_df = pd.DataFrame({'currency': currency_ls, 'rate': rate_ls, 'datetime_retrieved': now})
rate_df = rate_df[['currency', 'rate', 'datetime_retrieved']]

In [9]:
rate_df

    currency          rate         datetime_retrieved
0        MVR     15.399668 2017-05-13 22:02:16.673707
1        XPD      0.001238 2017-05-13 22:02:16.673707
2        LAK   8200.000000 2017-05-13 22:02:16.673707
3        BDT     81.194384 2017-05-13 22:02:16.673707
4        EUR      0.914662 2017-05-13 22:02:16.673707
5        LYD      1.405000 2017-05-13 22:02:16.673707
6        SCR     13.354691 2017-05-13 22:02:16.673707
7        KPW    900.090000 2017-05-13 22:02:16.673707
8        ZMW      9.225000 2017-05-13 22:02:16.673707
9        HNL     23.458882 2017-05-13 22:02:16.673707
10       SAR      3.750500 2017-05-13 22:02:16.673707
11       MAD      9.897516 2017-05-13 22:02:16.673707
12       NAD     13.365000 2017-05-13 22:02:16.673707
13       KHR   4045.000000 2017-05-13 22:02:16.673707
14       TRY      3.570795 2017-05-13 22:02:16.673707
15       AWG      1.801247 2017-05-13 22:02:16.673707
16       SBD      7.872287 2017-05-13 22:02:16.673707
17       XOF    601.236206 2017-05-13 22:02:16.673707
18       IMP      0.775885 2017-05-13 22:02:16.673707
19       TOP      2.311577 2017-05-13 22:02:16.673707
20       TND      2.421497 2017-05-13 22:02:16.673707
21       STD  22471.032938 2017-05-13 22:02:16.673707
22       CZK     24.292900 2017-05-13 22:02:16.673707
23       MXN     18.808700 2017-05-13 22:02:16.673707
24       XAU      0.000814 2017-05-13 22:02:16.673707
25       CVE    101.550000 2017-05-13 22:02:16.673707
26       DKK      6.806675 2017-05-13 22:02:16.673707
27       DOP     47.400000 2017-05-13 22:02:16.673707
28       CHF      1.000950 2017-05-13 22:02:16.673707
29       BAM      1.799050 2017-05-13 22:02:16.673707
..       ...           ...                        ...
138      ARS     15.435250 2017-05-13 22:02:16.673707
139      THB     34.661000 2017-05-13 22:02:16.673707
140      CLP    672.025000 2017-05-13 22:02:16.673707
141      HUF    283.508500 2017-05-13 22:02:16.673707
142      CDF   1405.000000 2017-05-13 22:02:16.673707
143      ERN     15.339159 2017-05-13 22:02:16.673707
144      TTD      6.695851 2017-05-13 22:02:16.673707
145      GHS      4.218527 2017-05-13 22:02:16.673707
146      SHP      0.775885 2017-05-13 22:02:16.673707
147      AED      3.672896 2017-05-13 22:02:16.673707
148      NPR    102.950772 2017-05-13 22:02:16.673707
149      KES    103.217974 2017-05-13 22:02:16.673707
150      KYD      0.833428 2017-05-13 22:02:16.673707
151      LKR    151.844292 2017-05-13 22:02:16.673707
152      DJF    178.770000 2017-05-13 22:02:16.673707
153      RON      4.159997 2017-05-13 22:02:16.673707
154      PHP     49.676000 2017-05-13 22:02:16.673707
155      ZWL    322.387247 2017-05-13 22:02:16.673707
156      MWK    725.220000 2017-05-13 22:02:16.673707
157      CUP     25.500000 2017-05-13 22:02:16.673707
158      MDL     18.638105 2017-05-13 22:02:16.673707
159      TMT      3.509980 2017-05-13 22:02:16.673707
160      XAG      0.060717 2017-05-13 22:02:16.673707
161      SZL     13.375000 2017-05-13 22:02:16.673707
162      XAF    601.439351 2017-05-13 22:02:16.673707
163      GMD     46.150000 2017-05-13 22:02:16.673707
164      NGN    317.500000 2017-05-13 22:02:16.673707
165      DZD    109.406514 2017-05-13 22:02:16.673707
166      GEL      2.419092 2017-05-13 22:02:16.673707
167      PKR    104.241584 2017-05-13 22:02:16.673707

[168 rows x 3 columns]

In [2]:
test = datetime(2017, 5, 15, 23, 0)

test

datetime.datetime(2017, 5, 15, 23, 0)

In [3]:
test + timedelta(hours = 1)

datetime.datetime(2017, 5, 16, 0, 0)