In [1]:
import os
import pandas as pd
from PyPDF2 import PdfFileReader as pdf_read, PdfFileWriter as pdf_write
from fuzzywuzzy import process
from tqdm import tqdm
from glob import glob
from datetime import datetime
from random import randint
from pga.fuzz_match import return_pid
from sqlalchemy import create_engine
from pandas.io import sql

In [2]:
os.chdir('/home/valesco/Datasets/PGA_Data/pga_owgr/')
player_ids = pd.read_csv('/home/valesco/Datasets/PGA_Data/player_id.csv')
player_id_ls = player_ids['player_name'].tolist()
num_players = len(player_ids)

rank_df = pd.DataFrame(columns = ['player_id', 'first_name', 'last_name', 'rank', 'date', 'week'])
rank_count = 0

year_ls = ['2017']

for year in year_ls:
    #try:
    for week in tqdm(range(23,29)):
        year_str = year + '_week_' + str(week) 

        pdf_file = open(year_str + '.pdf', 'rb')

        read_pdf = pdf_read(pdf_file)
        num_pages = read_pdf.getNumPages()

        pdf_ls = []
        for i in range(num_pages):
            page = read_pdf.getPage(i)
            text = page.extractText()
            str_ls = text.split('\n')
            pdf_ls.extend(str_ls)

            if i == 0:
                date = pdf_ls[-5]
                date_stamp = datetime.strptime(date, '%d %B %Y')


        for l, line in enumerate(pdf_ls):
            try:
                if line[0] == '<':
                    rank = pdf_ls[l - 2]
                    name = pdf_ls[l + 1]
                    p_id = return_pid(name)
                    first_name = name.split(' ')[0]
                    last_name = name.split(' ')[1]


                    rank_df.loc[rank_count] = [int(p_id),first_name, last_name, rank, date_stamp, year_str]
                    rank_count += 1
            except:
                pass
#except:
    #pass

100%|██████████| 6/6 [00:34<00:00,  5.86s/it]

In [4]:
engine = create_engine('mysql+pymysql://root:v1933@127.0.0.1:3306/pga?charset=utf8')
conn = engine.connect()

rank_df.to_sql('owgr', engine, if_exists = 'append', index = False)

In [6]:
rank_df.loc[rank_df['player_id'] == 26851]

      player_id first_name last_name rank       date          week
34      26851.0       Marc  Leishman   35 2017-06-11  2017_week_23
335     26851.0       Marc  Leishman   37 2017-06-18  2017_week_24
631     26851.0       Marc  Leishman   35 2017-06-25  2017_week_25
926     26851.0       Marc  Leishman   34 2017-07-02  2017_week_26
1221    26851.0       Marc  Leishman   33 2017-07-09  2017_week_27
1518    26851.0       Marc  Leishman   34 2017-07-16  2017_week_28

In [7]:
sql_select = 'SELECT * FROM pga.owgr'

sql_df = pd.read_sql(sql_select, engine)
sql_df = sql_df.append(rank_df)
sql_df

,player_id,first_name,last_name,rank,date,week
0,8793.0,Tiger,Woods,1,2010-01-03,2010_week_1
1,1810.0,Phil,Mickelson,2,2010-01-03,2010_week_1
2,6527.0,Steve,Stricker,3,2010-01-03,2010_week_1
3,20396.0,Lee,Westwood,4,2010-01-03,2010_week_1
4,10809.0,Jim,Furyk,5,2010-01-03,2010_week_1
5,20766.0,Padraig,Harrington,6,2010-01-03,2010_week_1
6,21528.0,Henrik,Stenson,7,2010-01-03,2010_week_1
7,25364.0,Paul,Casey,8,2010-01-03,2010_week_1
8,28237.0,Rory,McIlroy,9,2010-01-03,2010_week_1
9,1945.0,Kenny,Perry,10,2010-01-03,2010_week_1
10,24138.0,Ian,Poulter,11,2010-01-03,2010_week_1
11,21209.0,Sergio,Garcia,12,2010-01-03,2010_week_1
12,27408.0,Martin,Kaymer,13,2010-01-03,2010_week_1
13,22046.0,Geoff,Ogilvy,14,2010-01-03,2010_week_1
14,24140.0,Sean,O'Hair,15,2010-01-03,2010_week_1
15,20229.0,Stewart,Cink,16,2010-01-03,2010_week_1
16,6522.0,Ernie,Els,17,2010-01-03,2010_week_1
17,27896.0,Ross,Fisher,18,2010-01-03,2010_week_1
18,20157.0,Retief,Goosen,19,2010-01-03,2010_week_1
19,25900.0,Lucas,Glover,20,2010-01-03,2010_week_1
20,10885.0,Robert,Allenby,21,2010-01-03,2010_week_1
21,24024.0,Zach,Johnson,22,2010-01-03,2010_week_1
22,20848.0,Angel,Cabrera,23,2010-01-03,2010_week_1
23,27770.0,Camilo,Villegas,24,2010-01-03,2010_week_1
24,32767.0,Anthony,Kim,25,2010-01-03,2010_week_1
25,6567.0,Vijay,Singh,26,2010-01-03,2010_week_1
26,24781.0,Hunter,Mahan,27,2010-01-03,2010_week_1
27,19970.0,Robert,Karlsson,28,2010-01-03,2010_week_1
28,23983.0,Luke,Donald,29,2010-01-03,2010_week_1
29,30852.0,Ryo,Ishikawa,30,2010-01-03,2010_week_1
...,...,...,...,...,...,...
1751,50737.0,Soomin,Lee,270,2017-07-16 00:00:00,2017_week_28
1752,26444.0,Juvic,Pagunsan,271,2017-07-16 00:00:00,2017_week_28
1753,34563.0,Chesson,Hadley,271,2017-07-16 00:00:00,2017_week_28
1754,24748.0,Liang,Wen-chong,273,2017-07-16 00:00:00,2017_week_28
1755,48822.0,Juan,Sebastian,274,2017-07-16 00:00:00,2017_week_28
1756,24846.0,Ricky,Barnes,275,2017-07-16 00:00:00,2017_week_28
1757,26328.0,Shaun,Norris,277,2017-07-16 00:00:00,2017_week_28
1758,23814.0,Edoardo,Molinari,278,2017-07-16 00:00:00,2017_week_28
1759,26418.0,Adam,Bland,279,2017-07-16 00:00:00,2017_week_28
1760,46732.0,Rick,Lamb,280,2017-07-16 00:00:00,2017_week_28
1761,35113.0,Dimi,Papadatos,281,2017-07-16 00:00:00,2017_week_28
1762,6567.0,Vijay,Singh,282,2017-07-16 00:00:00,2017_week_28
1763,26539.0,Robert,Rock,283,2017-07-16 00:00:00,2017_week_28
1764,46550.0,Brandon,Hagy,284,2017-07-16 00:00:00,2017_week_28
1765,46594.0,Ricardo,Gouveia,285,2017-07-16 00:00:00,2017_week_28
1766,34575.0,Adrian,Otaegui,286,2017-07-16 00:00:00,2017_week_28
1767,24357.0,K.J.,Choi,287,2017-07-16 00:00:00,2017_week_28
1768,36824.0,Paul,Peterson,288,2017-07-16 00:00:00,2017_week_28
1769,30957.0,Maximilian,Kieffer,289,2017-07-16 00:00:00,2017_week_28
1770,37275.0,Sam,Ryder,290,2017-07-16 00:00:00,2017_week_28
1771,27895.0,Jonas,Blixt,291,2017-07-16 00:00:00,2017_week_28
1772,37446.0,Jacques,Kruyswijk,292,2017-07-16 00:00:00,2017_week_28
1773,37380.0,Curtis,Luck,293,2017-07-16 00:00:00,2017_week_28
1774,33610.0,Panuphol,Pittayarat,294,2017-07-16 00:00:00,2017_week_28
1775,27577.0,Peter,Karmis,295,2017-07-16 00:00:00,2017_week_28
1776,27095.0,Nick,Watney,296,2017-07-16 00:00:00,2017_week_28
1777,33870.0,Wu,Ashun,297,2017-07-16 00:00:00,2017_week_28
1778,28420.0,Ryan,Brehm,298,2017-07-16 00:00:00,2017_week_28
1779,33232.0,Sanghee,Lee,299,2017-07-16 00:00:00,2017_week_28
1780,27929.0,Shiv,Kapur,300,2017-07-16 00:00:00,2017_week_28

In [37]:
sql_df['last_name'].unique()

array(['Woods', 'Mickelson', 'Stricker', 'Westwood', 'Furyk', 'Harrington',
       'Stenson', 'Casey', 'McIlroy', 'Perry', 'Poulter', 'Garcia',
       'Kaymer', 'Ogilvy', "O'Hair", 'Cink', 'Els', 'Fisher', 'Goosen',
       'Glover', 'Allenby', 'Johnson', 'Cabrera', 'Villegas', 'Kim',
       'Singh', 'Mahan', 'Karlsson', 'Donald', 'Ishikawa', 'Yang',
       'Watney', 'Ikeda', 'Scott', 'Kjeldsen', 'Weir', 'Clark', 'Molinari',
       'Hansen', 'McDowell', 'Wilson', 'Toms', 'Dyson', 'Leonard', 'Sim',
       'Gay', 'A', 'Milkha', 'Moore', 'Quiros', 'Curtis', 'Noren',
       'Hanson', 'Ames', 'Katayama', 'Verplank', 'Jaidee', 'Campbell',
       'Kuchar', 'Fdez-Castano', 'Fujita', 'Sabbatini', 'Schwartzel',
       'Dufner', 'McGowan', 'Na', 'Rose', 'Senden', 'Slocum', 'Oda',
       'Kuboya', 'Wood', 'Imano', 'Jones', 'Goggin', 'Marino', 'Love III',
       'Kelly', 'Wen-Chong', 'Kingston', 'Wall', 'Bourdy', 'Sutherland',
       'Rollins', 'Choi', 'Pampling', 'Marksaeng', 'Oosthuizen', 'Strange',
       'Perez', 'Sterne', 'Snedeker', 'Goydos', 'Smail', 'Leishman',
       'Kondo', 'Laird', 'Watson', 'Wen-Tang', 'Crane', 'Appleby',
       'Molder', 'Kyung-Tae', 'Levet', 'Yano', 'Couples', 'Dougherty',
       'Romero', 'Clarke', 'Mallinger', 'Weekley', 'Ramsay', 'Hoffman',
       'Bohn', 'Jacobson', "O'Hern", 'Maybin', 'Edfors', 'Austin',
       'Webster', 'Maruyama', 'Green', 'Cabrera Bello', 'Colsaerts',
       'Hedblom', 'Holmes', 'McNeill', 'Lowry', 'Jacquelin', 'Immelman',
       'Muto', 'Davis', 'Willett', 'Baddeley', 'Howell III', 'Aiken',
       'Day', 'Byrd', 'Lee', 'Chalmers', 'Davies', 'Simpson', 'Rock', 'Wi',
       'Storm', 'Van Pelt', 'Suzuki', 'Drysdale', 'Derksen', 'Tanihara',
       'Merrick', 'Bae', 'Taniguchi', 'Lawrie', 'Gonzalez', 'Petrovic',
       'Dredge', 'Donaldson', 'Hiratsuka', 'Tidland', 'Bhullar', 'Klauk',
       'Adams', 'Collins', 'L', 'Nitties', 'Yokoo', 'McGrane', 'Orr',
       'Piercy', 'Imada', 'Trahan', 'Yamashita', 'Quigley', 'Matteson',
       'Percy', 'Cevaer', 'Baird', 'Overton', 'Points', 'Teater',
       'Bettencourt', 'Gillis', 'Lima', 'Tomida', 'Duval', 'Barnes',
       'McCarron', 'Miyamoto', 'Goya', 'Haas', 'Estes', 'Mediate',
       'Jonzon', 'Nirat', 'Fasth', 'Streelman', 'Lamely', 'Garrido',
       'Henningsson', 'Flesch', 'Hart', 'Kapur', 'DeLaet', 'Allen',
       'Pettersson', 'Both', 'Wiratchant', 'Cejka', 'Lynn', 'Willis',
       'Baryla', 'Teshima', 'Randhawa', 'McGinley', 'Fraser', 'Miyase',
       'Henry', 'Duke', 'Quinney', 'Kai', 'Letzig', 'Horsey', 'MacKenzie',
       'Martin', 'Dodd', 'Huldahl', 'Taylor', 'Armour III', 'Quesne',
       'Noh', 'Beckman', 'Suk-ho', 'Aphibarnrat', 'Lehman', 'Hoey',
       'Janzen', 'Fowler', 'Chopra', 'Boyd', 'Coles', 'Bjorn', 'Owen',
       'Montgomerie', 'Zanotti', 'Brier', 'OTTO', 'Siem', 'Conran',
       'Miyazato', 'Chih', 'Herron', 'Butterfield', 'Lunde', 'Parry',
       'Forsyth', 'Kang', 'Kulacz', 'Hend', 'AGUILAR', 'Kanemoto',
       'Thatcher', 'Thompson', 'Every', 'Erlandsson', 'Stadler', 'Benson',
       'Palmer', 'Beck', 'Dodt', 'Tambellini', 'Bolli', 'Dixon',
       'Larrazabal', 'Bland', 'Broadhurst', 'Hoshino', 'Calcavecchia',
       'Baker', 'Matsumura', 'Wheatcroft', 'Bryant', 'Echenique', 'Ilonen',
       'Havret', 'Mayfair', 'Mulroy', 'Manuel', 'Jobe', 'Gomez', 'Horne',
       'Kamte', 'Whiteford', 'Prugh', 'Rumford', 'Warren', 'Bradley',
       'Andersson', 'Gates', 'Wilkinson', 'Oh', 'Kruger', 'Fichardt',
       'Finch', 'Yih-Shin', 'Cayeux', 'Bothma', 'Hayes', 'Stuard', 'Grace',
       'Smock', 'Ogilvie', 'Quinn', 'Lovemark', 'de Jonge', 'Presnell',
       'Couch', 'Purdy', 'Blanks', 'Dinwiddie', 'Walker', 'Maggert',
       'Micheel', 'Ridings', 'Delamontagne', 'MORRISON', 'Chappell',
       'Merritt', 'Van Zyl', 'Riley', 'Lyle', 'Piller', 'Foster', 'Kamii',
       'Stroud', 'Dae-hyun', 'Levin', 'Canizares', 'Driscoll', 'Khan',
       'Gallacher', 'Pernice-Jr', 'Elkington', 'Pavin', 'Gainey', 'McEvoy',
       'Garrigus', 'Murray', 'Kirk', 'Wiegele', 'Ichihara', 'Edberg',
       'Sonoda', 'Waring', 'Luiten', 'Olesen', 'Gustafsson', 'Iwata',
       'Tadini', 'Gronberg', 'de', 'Kaleka', 'Takayama', 'Hahn', 'Osanai',
       'Vegas', 'Que', 'Pagunsan', 'Manassero', 'Atwal', 'Nonaka',
       'Floren', 'Tullo', 'Tateyama', 'Velasco', 'Zapata', 'Do-Hoon#753',
       'Smith', 'Junhasawasdikul', 'Summerhays', 'Siddikur', 'Wiesberger',
       'Kisner', 'Sjoholm', 'Durant', 'Russo', 'Mathis',
       'Do-Hoon#752(Daegu)', 'Steele', 'Gaunt', 'Mamat', 'Haines',
       'Affrunti', 'Karlberg', 'Haraguchi', 'Senior', 'Duangdecha',
       'Anderrson', 'del', 'Bowditch', 'Woodland', 'Howell', 'Connell',
       'Gonnet', 'Chowrasia', 'Wagner', 'Coetzee', 'Gutschewski',
       'Stallings', 'Stolz', 'Wetterich', 'Jamieson', 'Stanley', 'Hearn',
       'Miller', 'Lahiri', 'Masuda', 'Min-Gyu', 'Kawai', 'Elson',
       'Sang-hyun', 'Reavie', 'Jae-bum', 'Wattel', 'Bi-o', 'Frazar',
       'Tringale', 'Zions', 'Karmis', 'Dubois', 'Compton', 'Slattery',
       'Jung-gon', 'Kyung-nam', 'Santos', 'Gagli', 'Putnam', 'Moul',
       'Alvarado', 'Hadwin', 'Hebert', 'DiMarco', 'Killeen', 'Knox',
       'Denison', 'Triplett', 'Potter', 'Christian', 'Dong-hwan',
       'Fleetwood', 'Ferrie', 'Dubuisson', 'Blixt', 'Little', 'Soon-Sang',
       'Baldwin', 'Kennedy', 'Plaphol', 'Cauley', 'Lewis', 'Kokrak',
       'English', 'Kawano', 'Brown', 'Pavan', 'Wei-chih', 'Gleeson',
       'Matsuyama', 'Morofuji', 'Kobayashi', 'van der Walt', 'Carballo',
       'Pratt', 'Huh', 'Joong-Kyung', 'Campillo', 'Daly', 'Meesawat',
       'Archer', 'Fox', 'Gonzales', 'Hartoe', 'Knost', 'Ik-Jae', 'List',
       'Flores', 'Pride', 'Fujimoto', 'Wakefield', 'Wittenberg',
       'Peterson', 'Lingmerth', 'Hurley III', 'Lockerbie', 'Lundberg',
       'Harman', 'Castro', 'Claxton', 'Stal', 'Horschel', 'McGirt',
       'Kofstad', 'Guthrie', 'Broberg', 'Walters', 'Stiles', 'Doak',
       'Streb', 'Ashun', 'FISHER JNR', 'Uehira', 'Paisley', 'Stefani',
       'Hyun-woo', 'Henley', 'Hicks', 'B', 'Hoffmann', 'Cantlay',
       'Sang-hee', 'Fritsch', 'McGuigan', 'Beljan', 'Roos', 'Wenchong',
       'De', 'HENDRY', 'Chuayprakong', 'Cullen', 'Lascuna', 'Lipsky',
       'Kohles', 'Vongvanij', 'Gardiner', 'Sullivan', 'Sluiter', 'Bekker',
       'Foley', 'Uihlein', 'Spieth', 'Loar', 'Garnett', 'Aragon',
       'Higginbottom', 'Tsukada', 'Kieffer', 'Grillo', 'Ernst', 'HARTÃ˜',
       'Koepka', 'da', 'Orum', 'Pepperell', 'Reed', 'Todd', 'Calmels',
       'Ormsby', 'Thornton', 'KODAIRA', 'Hadley', 'Baek', 'Levy', 'K',
       'Crespi', 'Langley', 'Anderson', 'Frittelli', 'Herman', 'Sung-Joon',
       'Tway', 'Huizing', 'Svoboda', 'Korhonen', 'Otaegui', 'Kawamura',
       'Kakko', 'Jeong', 'Elvira', 'Carlsson', 'Wilcox', 'Griffin',
       'Manley', 'Fung', 'Kono', 'Hatton', 'Renner', 'Allred',
       'Bjerregaard', 'Hall', 'Malnati', 'LEE', 'Blaauw', 'Bremner', 'Van',
       'Ortiz', 'Thomas', 'Hugo', 'Loupe', 'Papadatos', 'Barber',
       'VAN TONDER', 'Brooks', 'Curran', 'Shih-chang', 'Jang', 'PIETERS',
       'Lampert', 'Gore', 'Johnston', 'Alker', 'Sucher', 'An', 'Finau',
       'Homa', 'Berger', 'Randolph', 'In-hoi', 'Tangkamolprasert',
       'Fathauer', 'Hutsby', 'Blair', 'Seung-hyuk', 'Lewton', 'Takeya',
       'Lorenzo-Vera', 'Swafford', 'McArthur', 'Farr', 'LI', 'Ahlers',
       'Khrongpha', 'Jeung-hun', 'CHAWRASIA', 'Espana', 'Holman',
       'Saunders', 'Reifers', 'Pinckney', 'Phelan', 'Porteous',
       'Burmester', 'Irawan', 'Rodgers', 'Orrin', 'Kataoka', 'Gouveia',
       'Fitzpatrick', 'Kizzire', 'Gros', 'Roach', 'Gibson', 'Song',
       'Kaufman', 'Pilkadaris', 'Bertsch', 'Norlander', 'Fahrbring',
       'Hoge', 'CHIA', 'Lagergren', 'Virto', 'Stegmaier', 'Aldridge',
       'Scrivener', 'Shinkwin', 'Inamori', 'Stone', 'Imahira', 'Nagano',
       'Pan', 'Linard', 'Varner III', 'Sordet', 'Norris', 'Tabuena',
       'Kumar', 'Khongwatmai', 'Lombard', 'Brazel', 'Millar',
       'Van Aswegen', 'Evans', 'Winther', 'Burgoon', 'Geary', 'Soderberg',
       'Bezuidenhout', 'Im', 'Cazaubon', 'Armour', 'Schniederjans',
       'DeChambeau', 'Mullinax', 'Werenski', 'DOU', 'Power', 'Park',
       'Rahm', 'Knappe', 'Wallace', 'Ritthammer', 'Southgate', 'NOREN',
       'Bozzelli', 'Langasque', 'Bertasio', 'Perrier', 'Spaun', 'Bjork',
       'Lindheim', 'Brehm', 'Stalter', 'McCarthy', 'Dunne', 'CabreraBello',
       'Pieters', 'Vincent', 'Stewart', 'Joo', 'Angles', 'Hughes', 'Pavon',
       'Detry', 'Gribble', 'Schauffele', 'Armitage', 'Blyth', 'Paratore',
       'ZHANG', 'Kruyswijk', 'Boonma', 'Lashley', 'Pigem', 'Saksansin',
       'Bryan', 'Saxon', 'Sinnott', 'Janewattananond', 'Jensen', 'Kraft',
       'Veerman', 'Sharma', 'Poston', 'Ryder', 'Wang', 'Hun', 'Kodaira',
       'Hurley', 'Varner', 'Haotong', 'Delaet', 'Morrison', 'Hendry',
       'Ze-cheng', 'Hwang', 'van', 'Chawrasia', 'Ryu', 'Hagy', 'Rai',
       'Xin-jun', 'Saddier', 'Wen-chong', 'Saunders(July1987)',
       'Fisher-Jr', 'Nunez', 'Wannasrichan', 'Jaeger', 'Campos',
       'Pittayarat', 'Suri', 'Han', 'Landry'], dtype=object)

In [8]:
owgr_final = pd.read_csv('/home/valesco/Datasets/PGA_Data/pga_master_files/owgr_final.csv', sep = ';')
owgr_final

        player_id  first_name   last_name  rank        date         week
0          8793.0       Tiger       Woods     1  2010-01-03  2010_week_1
1          1810.0        Phil   Mickelson     2  2010-01-03  2010_week_1
2          6527.0       Steve    Stricker     3  2010-01-03  2010_week_1
3         20396.0         Lee    Westwood     4  2010-01-03  2010_week_1
4         10809.0         Jim       Furyk     5  2010-01-03  2010_week_1
5         20766.0     Padraig  Harrington     6  2010-01-03  2010_week_1
6         21528.0      Henrik     Stenson     7  2010-01-03  2010_week_1
7         25364.0        Paul       Casey     8  2010-01-03  2010_week_1
8         28237.0        Rory     McIlroy     9  2010-01-03  2010_week_1
9          1945.0       Kenny       Perry    10  2010-01-03  2010_week_1
10        24138.0         Ian     Poulter    11  2010-01-03  2010_week_1
11        21209.0      Sergio      Garcia    12  2010-01-03  2010_week_1
12        27408.0      Martin      Kaymer    13  2010-01-03  2010_week_1
13        22046.0       Geoff      Ogilvy    14  2010-01-03  2010_week_1
14        24140.0        Sean      O'Hair    15  2010-01-03  2010_week_1
15        20229.0     Stewart        Cink    16  2010-01-03  2010_week_1
16         6522.0       Ernie         Els    17  2010-01-03  2010_week_1
17        27896.0        Ross      Fisher    18  2010-01-03  2010_week_1
18        20157.0      Retief      Goosen    19  2010-01-03  2010_week_1
19        25900.0       Lucas      Glover    20  2010-01-03  2010_week_1
20        10885.0      Robert     Allenby    21  2010-01-03  2010_week_1
21        24024.0        Zach     Johnson    22  2010-01-03  2010_week_1
22        20848.0       Angel     Cabrera    23  2010-01-03  2010_week_1
23        27770.0      Camilo    Villegas    24  2010-01-03  2010_week_1
24        99590.0     Anthony         Kim    25  2010-01-03  2010_week_1
25         6567.0       Vijay       Singh    26  2010-01-03  2010_week_1
26        24781.0      Hunter       Mahan    27  2010-01-03  2010_week_1
27        19970.0      Robert    Karlsson    28  2010-01-03  2010_week_1
28        23983.0        Luke      Donald    29  2010-01-03  2010_week_1
29        30852.0         Ryo    Ishikawa    30  2010-01-03  2010_week_1
...           ...         ...         ...   ...         ...          ...
109368    20608.0       David      Howell   271  2017-02-19  2017_week_7
109369    73310.0         Ryu    Hyun-woo   272  2017-02-19  2017_week_7
109370    96576.0     Jacques   Kruyswijk   273  2017-02-19  2017_week_7
109371    32618.0       Rhein      Gibson   274  2017-02-19  2017_week_7
109372    94979.0  Thanyakorn   Khrongpha   274  2017-02-19  2017_week_7
109373    92931.0     Clement      Sordet   276  2017-02-19  2017_week_7
109374    24039.0        Prom    Meesawat   277  2017-02-19  2017_week_7
109375    70810.0   Katsumasa    Miyamoto   278  2017-02-19  2017_week_7
109376    29531.0      Richie      Ramsay   279  2017-02-19  2017_week_7
109377    93203.0       Mikko    Korhonen   280  2017-02-19  2017_week_7
109378    85505.0    Meenwhee         Kim   281  2017-02-19  2017_week_7
109379    82584.0     Ryutaro      Nagano   282  2017-02-19  2017_week_7
109380    27466.0     Spencer       Levin   283  2017-02-19  2017_week_7
109381    35300.0      Andrew       Loupe   284  2017-02-19  2017_week_7
109382    86525.0      Junwon        Park   285  2017-02-19  2017_week_7
109383    29720.0      Andres    Gonzales   286  2017-02-19  2017_week_7
109384    90212.0  Shubhankar      Sharma   287  2017-02-19  2017_week_7
109385    37092.0  Hyung-Sung         Kim   288  2017-02-19  2017_week_7
109386    92104.0         Sam       Ryder   289  2017-02-19  2017_week_7
109387    30163.0      Henrik   Norlander   290  2017-02-19  2017_week_7
109388    29485.0       Brett   Stegmaier   291  2017-02-19  2017_week_7
109389    32421.0      Romain      Wattel   292  2017-02-19  2017_week_7
109390    86225.0        Joel     Stalter   293  2017-02-19  2017_week_7
109391    91157.0       Jinho        Choi   294  2017-02-19  2017_week_7
109392    87103.0      Ashley        Hall   295  2017-02-19  2017_week_7
109393    72275.0      Callum    Shinkwin   296  2017-02-19  2017_week_7
109394    30692.0       Scott   Stallings   297  2017-02-19  2017_week_7
109395    71254.0        Yuki     Inamori   298  2017-02-19  2017_week_7
109396    27770.0      Camilo    Villegas   299  2017-02-19  2017_week_7
109397    33780.0        Nick      Cullen   300  2017-02-19  2017_week_7

[109398 rows x 6 columns]

In [15]:
merge_df = rank_df.loc[pd.to_datetime(rank_df['date']) > datetime(2017, 2, 19)]

final_df = pd.concat([owgr_final, merge_df], axis = 0)
final_df

,player_id,first_name,last_name,rank,date,week
0,8793.0,Tiger,Woods,1,2010-01-03,2010_week_1
1,1810.0,Phil,Mickelson,2,2010-01-03,2010_week_1
2,6527.0,Steve,Stricker,3,2010-01-03,2010_week_1
3,20396.0,Lee,Westwood,4,2010-01-03,2010_week_1
4,10809.0,Jim,Furyk,5,2010-01-03,2010_week_1
5,20766.0,Padraig,Harrington,6,2010-01-03,2010_week_1
6,21528.0,Henrik,Stenson,7,2010-01-03,2010_week_1
7,25364.0,Paul,Casey,8,2010-01-03,2010_week_1
8,28237.0,Rory,McIlroy,9,2010-01-03,2010_week_1
9,1945.0,Kenny,Perry,10,2010-01-03,2010_week_1
10,24138.0,Ian,Poulter,11,2010-01-03,2010_week_1
11,21209.0,Sergio,Garcia,12,2010-01-03,2010_week_1
12,27408.0,Martin,Kaymer,13,2010-01-03,2010_week_1
13,22046.0,Geoff,Ogilvy,14,2010-01-03,2010_week_1
14,24140.0,Sean,O'Hair,15,2010-01-03,2010_week_1
15,20229.0,Stewart,Cink,16,2010-01-03,2010_week_1
16,6522.0,Ernie,Els,17,2010-01-03,2010_week_1
17,27896.0,Ross,Fisher,18,2010-01-03,2010_week_1
18,20157.0,Retief,Goosen,19,2010-01-03,2010_week_1
19,25900.0,Lucas,Glover,20,2010-01-03,2010_week_1
20,10885.0,Robert,Allenby,21,2010-01-03,2010_week_1
21,24024.0,Zach,Johnson,22,2010-01-03,2010_week_1
22,20848.0,Angel,Cabrera,23,2010-01-03,2010_week_1
23,27770.0,Camilo,Villegas,24,2010-01-03,2010_week_1
24,99590.0,Anthony,Kim,25,2010-01-03,2010_week_1
25,6567.0,Vijay,Singh,26,2010-01-03,2010_week_1
26,24781.0,Hunter,Mahan,27,2010-01-03,2010_week_1
27,19970.0,Robert,Karlsson,28,2010-01-03,2010_week_1
28,23983.0,Luke,Donald,29,2010-01-03,2010_week_1
29,30852.0,Ryo,Ishikawa,30,2010-01-03,2010_week_1
...,...,...,...,...,...,...
3570,35582.0,Kristoffer,Broberg,271,2017-03-26 00:00:00,2017_week_12
3571,69553.0,Todd,Sinnott,272,2017-03-26 00:00:00,2017_week_12
3572,20593.0,Greg,Chalmers,273,2017-03-26 00:00:00,2017_week_12
3573,25841.0,Marc,Warren,274,2017-03-26 00:00:00,2017_week_12
3574,26418.0,Adam,Bland,275,2017-03-26 00:00:00,2017_week_12
3575,72110.0,Robert,Rock,276,2017-03-26 00:00:00,2017_week_12
3576,24039.0,Prom,Meesawat,277,2017-03-26 00:00:00,2017_week_12
3577,70931.0,Adrien,Saddier,278,2017-03-26 00:00:00,2017_week_12
3578,37157.0,Renato,Paratore,279,2017-03-26 00:00:00,2017_week_12
3579,30163.0,Henrik,Norlander,280,2017-03-26 00:00:00,2017_week_12
3580,90112.0,Ryan,Brehm,281,2017-03-26 00:00:00,2017_week_12
3581,40058.0,Zac,Blair,282,2017-03-26 00:00:00,2017_week_12
3582,68539.0,Christiaan,Bezuidenhout,283,2017-03-26 00:00:00,2017_week_12
3583,20691.0,Greg,Owen,284,2017-03-26 00:00:00,2017_week_12
3584,68131.0,Shubhankar,Sharma,285,2017-03-26 00:00:00,2017_week_12
3585,72936.0,Hyunwoo,Ryu,286,2017-03-26 00:00:00,2017_week_12
3586,27095.0,Nick,Watney,287,2017-03-26 00:00:00,2017_week_12
3587,95885.0,Thanyakorn,Khrongpha,288,2017-03-26 00:00:00,2017_week_12
3588,87544.0,Sam,Ryder,289,2017-03-26 00:00:00,2017_week_12
3589,98989.0,Charlie,Saxon,290,2017-03-26 00:00:00,2017_week_12
3590,29531.0,Richie,Ramsay,291,2017-03-26 00:00:00,2017_week_12
3591,32618.0,Rhein,Gibson,292,2017-03-26 00:00:00,2017_week_12
3592,94506.0,Katsumasa,Miyamoto,293,2017-03-26 00:00:00,2017_week_12
3593,29720.0,Andres,Gonzales,294,2017-03-26 00:00:00,2017_week_12
3594,77059.0,Ashley,Hall,295,2017-03-26 00:00:00,2017_week_12
3595,46550.0,Brandon,Hagy,296,2017-03-26 00:00:00,2017_week_12
3596,34265.0,Will,Wilcox,297,2017-03-26 00:00:00,2017_week_12
3597,78494.0,Ryutaro,Nagano,298,2017-03-26 00:00:00,2017_week_12
3598,82356.0,Clement,Sordet,299,2017-03-26 00:00:00,2017_week_12
3599,85882.0,Junwon,Park,300,2017-03-26 00:00:00,2017_week_12

In [16]:
os.chdir('/home/valesco/Datasets/PGA_Data/pga_master_files/')
final_df.to_csv('owgr_final.csv', sep = ';', index = False)