In [1]:
import pandas as pd
import numpy as np
from itertools import combinations
import random
import os
import time
from tqdm import tqdm
import datetime

In [2]:
player_df = pd.read_csv('/home/valesco/Datasets/PGA_Data/salary_folder/pga_champ_salaries.csv')
player_df.head()

                  player_name              name  salary  owned
0     Jordan Spieth (9168524)     Jordan Spieth   12000   0.16
1      Rory McIlroy (9168525)      Rory McIlroy   11800   0.23
2    Dustin Johnson (9168526)    Dustin Johnson   11400   0.18
3     Rickie Fowler (9168527)     Rickie Fowler   10700   0.24
4  Hideki Matsuyama (9168528)  Hideki Matsuyama   10500   0.18

In [212]:
nonzero_player_df = player_df.loc[player_df['owned'] > 0]

players = list(nonzero_player_df['name'].values)

pid_dict = {}

for p, player in enumerate(players):
    salary = player_df['salary'].loc[player_df['name'] == player].values[0]
    own = player_df['owned'].loc[player_df['name'] == player].values[0]
    pid_dict[p] = {'name': player, 'salary': salary, 'own': own, 'lineup_diff': 0}

pids = list(pid_dict.keys())
pid_dict

{0: {'lineup_diff': 0, 'name': 'Jordan Spieth', 'own': 0.16, 'salary': 12000},
 1: {'lineup_diff': 0,
  'name': 'Rory McIlroy',
  'own': 0.23000000000000001,
  'salary': 11800},
 2: {'lineup_diff': 0,
  'name': 'Dustin Johnson',
  'own': 0.17999999999999999,
  'salary': 11400},
 3: {'lineup_diff': 0,
  'name': 'Rickie Fowler',
  'own': 0.23999999999999999,
  'salary': 10700},
 4: {'lineup_diff': 0,
  'name': 'Hideki Matsuyama',
  'own': 0.17999999999999999,
  'salary': 10500},
 5: {'lineup_diff': 0,
  'name': 'Jason Day',
  'own': 0.080000000000000002,
  'salary': 10400},
 6: {'lineup_diff': 0, 'name': 'Jon Rahm', 'own': 0.13, 'salary': 10100},
 7: {'lineup_diff': 0,
  'name': 'Henrik Stenson',
  'own': 0.10000000000000001,
  'salary': 9800},
 8: {'lineup_diff': 0,
  'name': 'Sergio Garcia',
  'own': 0.14999999999999999,
  'salary': 9400},
 9: {'lineup_diff': 0,
  'name': 'Brooks Koepka',
  'own': 0.14999999999999999,
  'salary': 9200},
 10: {'lineup_diff': 0, 'name': 'Justin Rose', 'own': 0.12, 'salary': 9000},
 11: {'lineup_diff': 0, 'name': 'Justin Thomas', 'own': 0.11, 'salary': 8900},
 12: {'lineup_diff': 0, 'name': 'Matt Kuchar', 'own': 0.13, 'salary': 8800},
 13: {'lineup_diff': 0, 'name': 'Adam Scott', 'own': 0.25, 'salary': 8600},
 14: {'lineup_diff': 0,
  'name': 'Phil Mickelson',
  'own': 0.20000000000000001,
  'salary': 8500},
 15: {'lineup_diff': 0,
  'name': 'Branden Grace',
  'own': 0.080000000000000002,
  'salary': 8200},
 16: {'lineup_diff': 0,
  'name': 'Marc Leishman',
  'own': 0.10000000000000001,
  'salary': 8100},
 17: {'lineup_diff': 0,
  'name': 'Tommy Fleetwood',
  'own': 0.080000000000000002,
  'salary': 8000},
 18: {'lineup_diff': 0,
  'name': 'Alexander Noren',
  'own': 0.050000000000000003,
  'salary': 7900},
 19: {'lineup_diff': 0,
  'name': 'Paul Casey',
  'own': 0.17999999999999999,
  'salary': 7800},
 20: {'lineup_diff': 0, 'name': 'Daniel Berger', 'own': 0.12, 'salary': 7700},
 21: {'lineup_diff': 0,
  'name': 'Charley Hoffman',
  'own': 0.14999999999999999,
  'salary': 7600},
 22: {'lineup_diff': 0, 'name': 'Thomas Pieters', 'own': 0.12, 'salary': 7500},
 23: {'lineup_diff': 0,
  'name': 'Charl Schwartzel',
  'own': 0.10000000000000001,
  'salary': 7500},
 24: {'lineup_diff': 0,
  'name': 'Louis Oosthuizen',
  'own': 0.10000000000000001,
  'salary': 7500},
 25: {'lineup_diff': 0,
  'name': 'J.B. Holmes',
  'own': 0.040000000000000001,
  'salary': 7400},
 26: {'lineup_diff': 0,
  'name': 'Matthew Fitzpatrick',
  'own': 0.040000000000000001,
  'salary': 7400},
 27: {'lineup_diff': 0,
  'name': 'Russell Henley',
  'own': 0.080000000000000002,
  'salary': 7400},
 28: {'lineup_diff': 0, 'name': 'Patrick Reed', 'own': 0.12, 'salary': 7300},
 29: {'lineup_diff': 0,
  'name': 'Brendan Steele',
  'own': 0.089999999999999997,
  'salary': 7300},
 30: {'lineup_diff': 0,
  'name': 'Ryan Moore',
  'own': 0.040000000000000001,
  'salary': 7300},
 31: {'lineup_diff': 0,
  'name': 'Bubba Watson',
  'own': 0.089999999999999997,
  'salary': 7300},
 32: {'lineup_diff': 0,
  'name': 'Jamie Lovemark',
  'own': 0.050000000000000003,
  'salary': 7200},
 33: {'lineup_diff': 0,
  'name': 'Kyle Stanley',
  'own': 0.080000000000000002,
  'salary': 7100},
 34: {'lineup_diff': 0, 'name': 'Si Woo Kim', 'own': 0.02, 'salary': 7100},
 35: {'lineup_diff': 0,
  'name': 'Rafael Cabrera-Bello',
  'own': 0.029999999999999999,
  'salary': 7100},
 36: {'lineup_diff': 0,
  'name': 'Wesley Bryan',
  'own': 0.029999999999999999,
  'salary': 7000},
 37: {'lineup_diff': 0,
  'name': 'Ian Poulter',
  'own': 0.10000000000000001,
  'salary': 7000},
 38: {'lineup_diff': 0,
  'name': 'Emiliano Grillo',
  'own': 0.040000000000000001,
  'salary': 7000},
 39: {'lineup_diff': 0,
  'name': 'Tony Finau',
  'own': 0.14999999999999999,
  'salary': 7000},
 40: {'lineup_diff': 0,
  'name': 'Xander Schauffele',
  'own': 0.059999999999999998,
  'salary': 7000},
 41: {'lineup_diff': 0,
  'name': 'Bernd Wiesberger',
  'own': 0.040000000000000001,
  'salary': 7000},
 42: {'lineup_diff': 0,
  'name': 'Peter Uihlein',
  'own': 0.029999999999999999,
  'salary': 7000},
 43: {'lineup_diff': 0,
  'name': 'Padraig Harrington',
  'own': 0.01,
  'salary': 7000},
 44: {'lineup_diff': 0,
  'name': 'Thorbjorn Olesen',
  'own': 0.01,
  'salary': 7000},
 45: {'lineup_diff': 0,
  'name': 'Graeme McDowell',
  'own': 0.029999999999999999,
  'salary': 7000},
 46: {'lineup_diff': 0, 'name': 'Lucas Glover', 'own': 0.01, 'salary': 7000},
 47: {'lineup_diff': 0,
  'name': 'Hudson Swafford',
  'own': 0.040000000000000001,
  'salary': 7000},
 48: {'lineup_diff': 0,
  'name': 'Kevin Chappell',
  'own': 0.10000000000000001,
  'salary': 7000},
 49: {'lineup_diff': 0,
  'name': 'Kevin Kisner',
  'own': 0.10000000000000001,
  'salary': 7000},
 50: {'lineup_diff': 0,
  'name': 'Jimmy Walker',
  'own': 0.080000000000000002,
  'salary': 6900},
 51: {'lineup_diff': 0,
  'name': 'Brian Harman',
  'own': 0.050000000000000003,
  'salary': 6900},
 52: {'lineup_diff': 0,
  'name': 'Shane Lowry',
  'own': 0.050000000000000003,
  'salary': 6900},
 53: {'lineup_diff': 0, 'name': 'Billy Horschel', 'own': 0.01, 'salary': 6900},
 54: {'lineup_diff': 0,
  'name': 'Byeong-Hun An',
  'own': 0.029999999999999999,
  'salary': 6900},
 55: {'lineup_diff': 0,
  'name': 'Patrick Cantlay',
  'own': 0.080000000000000002,
  'salary': 6900},
 56: {'lineup_diff': 0,
  'name': 'Russell Knox',
  'own': 0.040000000000000001,
  'salary': 6900},
 57: {'lineup_diff': 0,
  'name': 'Bryson DeChambeau',
  'own': 0.040000000000000001,
  'salary': 6900},
 58: {'lineup_diff': 0, 'name': 'Cameron Smith', 'own': 0.01, 'salary': 6900},
 59: {'lineup_diff': 0,
  'name': 'Kevin Na',
  'own': 0.080000000000000002,
  'salary': 6900},
 60: {'lineup_diff': 0,
  'name': 'William McGirt',
  'own': 0.029999999999999999,
  'salary': 6900},
 61: {'lineup_diff': 0, 'name': 'Robert Streb', 'own': 0.02, 'salary': 6900},
 62: {'lineup_diff': 0,
  'name': 'James Hahn',
  'own': 0.029999999999999999,
  'salary': 6900},
 63: {'lineup_diff': 0, 'name': 'Lee Westwood', 'own': 0.01, 'salary': 6900},
 64: {'lineup_diff': 0,
  'name': 'Adam Hadwin',
  'own': 0.050000000000000003,
  'salary': 6800},
 65: {'lineup_diff': 0,
  'name': 'Keegan Bradley',
  'own': 0.059999999999999998,
  'salary': 6800},
 66: {'lineup_diff': 0,
  'name': 'Steve Stricker',
  'own': 0.080000000000000002,
  'salary': 6800},
 67: {'lineup_diff': 0, 'name': 'Andy Sullivan', 'own': 0.01, 'salary': 6800},
 68: {'lineup_diff': 0, 'name': 'Luke List', 'own': 0.01, 'salary': 6800},
 69: {'lineup_diff': 0, 'name': 'Hao-Tong Li', 'own': 0.01, 'salary': 6800},
 70: {'lineup_diff': 0, 'name': 'Jason Kokrak', 'own': 0.02, 'salary': 6800},
 71: {'lineup_diff': 0, 'name': 'D.A. Points', 'own': 0.01, 'salary': 6800},
 72: {'lineup_diff': 0, 'name': 'Brandon Stone', 'own': 0.01, 'salary': 6800},
 73: {'lineup_diff': 0, 'name': 'Kelly Kraft', 'own': 0.01, 'salary': 6800},
 74: {'lineup_diff': 0, 'name': 'Zach Johnson', 'own': 0.12, 'salary': 6800},
 75: {'lineup_diff': 0,
  'name': 'Francesco Molinari',
  'own': 0.040000000000000001,
  'salary': 6800},
 76: {'lineup_diff': 0,
  'name': 'Webb Simpson',
  'own': 0.080000000000000002,
  'salary': 6800},
 77: {'lineup_diff': 0,
  'name': 'Bill Haas',
  'own': 0.040000000000000001,
  'salary': 6800},
 78: {'lineup_diff': 0,
  'name': 'Patrick Rodgers',
  'own': 0.01,
  'salary': 6800},
 79: {'lineup_diff': 0, 'name': 'Soren Kjeldsen', 'own': 0.01, 'salary': 6700},
 80: {'lineup_diff': 0,
  'name': 'Andrew Johnston',
  'own': 0.01,
  'salary': 6700},
 81: {'lineup_diff': 0,
  'name': 'Jeunghun Wang',
  'own': 0.0050000000000000001,
  'salary': 6700},
 82: {'lineup_diff': 0,
  'name': 'Jason Dufner',
  'own': 0.040000000000000001,
  'salary': 6700},
 83: {'lineup_diff': 0,
  'name': 'Gary Woodland',
  'own': 0.050000000000000003,
  'salary': 6700},
 84: {'lineup_diff': 0, 'name': 'Chris Wood', 'own': 0.01, 'salary': 6700},
 85: {'lineup_diff': 0,
  'name': 'Graham DeLaet',
  'own': 0.040000000000000001,
  'salary': 6700},
 86: {'lineup_diff': 0,
  'name': 'Pat Perez',
  'own': 0.040000000000000001,
  'salary': 6700},
 87: {'lineup_diff': 0,
  'name': 'Danny Willett',
  'own': 0.0050000000000000001,
  'salary': 6700},
 88: {'lineup_diff': 0,
  'name': 'Daniel Summerhays',
  'own': 0.02,
  'salary': 6700},
 89: {'lineup_diff': 0, 'name': 'Anirban Lahiri', 'own': 0.01, 'salary': 6700},
 90: {'lineup_diff': 0,
  'name': "Sean O'Hair",
  'own': 0.029999999999999999,
  'salary': 6700},
 91: {'lineup_diff': 0, 'name': 'Jonas Blixt', 'own': 0.01, 'salary': 6700},
 92: {'lineup_diff': 0,
  'name': 'Luke Donald',
  'own': 0.029999999999999999,
  'salary': 6700},
 93: {'lineup_diff': 0,
  'name': 'Hideto Tanihara',
  'own': 0.01,
  'salary': 6700},
 94: {'lineup_diff': 0, 'name': 'Vijay Singh', 'own': 0.01, 'salary': 6600},
 95: {'lineup_diff': 0, 'name': 'Cody Gribble', 'own': 0.01, 'salary': 6600},
 96: {'lineup_diff': 0, 'name': 'Ryan Fox', 'own': 0.01, 'salary': 6600},
 97: {'lineup_diff': 0, 'name': 'Tyrrell Hatton', 'own': 0.01, 'salary': 6600},
 98: {'lineup_diff': 0,
  'name': 'Ross Fisher',
  'own': 0.029999999999999999,
  'salary': 6600},
 99: {'lineup_diff': 0,
  'name': 'Sung Kang',
  'own': 0.029999999999999999,
  'salary': 6600},
 100: {'lineup_diff': 0,
  'name': 'Bud Cauley',
  'own': 0.059999999999999998,
  'salary': 6600},
 101: {'lineup_diff': 0, 'name': 'Martin Laird', 'own': 0.01, 'salary': 6600},
 102: {'lineup_diff': 0,
  'name': 'Danny Lee',
  'own': 0.080000000000000002,
  'salary': 6600},
 103: {'lineup_diff': 0,
  'name': 'David Lingmerth',
  'own': 0.080000000000000002,
  'salary': 6600},
 104: {'lineup_diff': 0,
  'name': 'Richard Sterne',
  'own': 0.01,
  'salary': 6600},
 105: {'lineup_diff': 0,
  'name': 'Fabrizio Zanotti',
  'own': 0.01,
  'salary': 6600},
 106: {'lineup_diff': 0, 'name': 'Ernie Els', 'own': 0.01, 'salary': 6600},
 107: {'lineup_diff': 0, 'name': 'David Toms', 'own': 0.01, 'salary': 6600},
 108: {'lineup_diff': 0, 'name': 'Younghan Song', 'own': 0.01, 'salary': 6600},
 109: {'lineup_diff': 0,
  'name': 'Chez Reavie',
  'own': 0.040000000000000001,
  'salary': 6600},
 110: {'lineup_diff': 0,
  'name': 'Jordan L. Smith',
  'own': 0.01,
  'salary': 6500},
 111: {'lineup_diff': 0,
  'name': 'Nicolas Colsaerts',
  'own': 0.01,
  'salary': 6500},
 112: {'lineup_diff': 0,
  'name': 'Mackenzie Hughes',
  'own': 0.029999999999999999,
  'salary': 6500},
 113: {'lineup_diff': 0, 'name': 'Kyung-tae Kim', 'own': 0.02, 'salary': 6500},
 114: {'lineup_diff': 0, 'name': 'Joost Luiten', 'own': 0.01, 'salary': 6500},
 115: {'lineup_diff': 0,
  'name': 'Thongchai Jaidee',
  'own': 0.01,
  'salary': 6500},
 116: {'lineup_diff': 0, 'name': 'Scott Hend', 'own': 0.01, 'salary': 6500},
 117: {'lineup_diff': 0,
  'name': 'Bernhard Langer',
  'own': 0.01,
  'salary': 6500},
 118: {'lineup_diff': 0,
  'name': 'Jhonattan Vegas',
  'own': 0.050000000000000003,
  'salary': 6500},
 119: {'lineup_diff': 0,
  'name': 'Grayson Murray',
  'own': 0.029999999999999999,
  'salary': 6500},
 120: {'lineup_diff': 0,
  'name': 'Alexander Levy',
  'own': 0.01,
  'salary': 6500},
 121: {'lineup_diff': 0,
  'name': 'Jim Herman',
  'own': 0.029999999999999999,
  'salary': 6500},
 122: {'lineup_diff': 0,
  'name': 'Chris Stroud',
  'own': 0.029999999999999999,
  'salary': 6500},
 123: {'lineup_diff': 0, 'name': 'Scott Brown', 'own': 0.02, 'salary': 6500},
 124: {'lineup_diff': 0, 'name': 'Davis Love', 'own': 0.01, 'salary': 6400},
 125: {'lineup_diff': 0, 'name': 'Thomas Bjorn', 'own': 0.01, 'salary': 6400},
 126: {'lineup_diff': 0,
  'name': 'Jim Furyk',
  'own': 0.050000000000000003,
  'salary': 6400},
 127: {'lineup_diff': 0,
  'name': 'Charles Howell',
  'own': 0.080000000000000002,
  'salary': 6400}}

In [213]:
def random_combination(iterable, r): 
    #Random selection from combinations
    
    pool = tuple(iterable)
    n = len(pool)
    indices = sorted(random.sample(range(n), r))
    return tuple(pool[i] for i in indices)


def random_lineup_generator(iterable, r, lineups_to_create):
    temp_ls = []
    for i in range(lineups_to_create):
        temp_ls.append(random_combination(iterable, r))
        
    return temp_ls


def lineup_difference (p, player):
    curr_df_len = len(lineup_df)

    adjust_df_len = num_lineups - curr_df_len

    target_own = pid_dict[p]['own']
    target_lus = round(target_own * num_lineups) + adjust_df_len

    actual_lus = count_df['count'].loc[count_df['name'] == player].values[0]

    lu_diff = int(target_lus - actual_lus)
    
    return lu_diff

##Create return_ownership

def return_ownership(player):
    for key, value in pid_dict.items():
        if value['name'] == player:
            return value['own']

#num lineups in tournament
num_lineups = 15000

#cumulative ownership for the field
cum_per_owned = 6
start = datetime.datetime.now()

#generate random num lineups for tournament
random_lineups = random_lineup_generator(players, 6, num_lineups)

In [214]:
lineup_df = pd.DataFrame(random_lineups)

#Count players in lineups
count_df = lineup_df.apply(pd.Series.value_counts)

#Turn counts into percent
count_df['count'] = count_df.sum(axis = 1)
count_df.reset_index(inplace = True)
count_df.rename(columns = {'index': 'name'}, inplace = True)
count_df['owned'] = count_df['name'].apply(lambda x: return_ownership(x))
count_df['target_lus'] = count_df['owned'] * num_lineups
count_df['lu_diff'] = 0




for iteration in tqdm(range(8)):
    for p, player in tqdm(enumerate(players)):
        #curr_df_len = len(lineup_df)

        #adjust_df_len = num_lineups - curr_df_len

        #target_own = pid_dict[p]['own']
        #target_lus = round(target_own * num_lineups) + adjust_df_len

        #actual_lus = count_df['count'].loc[count_df['name'] == player].values[0]

        #lu_diff = int(target_lus - actual_lus)
        
        lu_diff = lineup_difference(p, player)

        if lu_diff > 0:
            
            #Create list teams of 5 players without current player
            if p < 1:
                temp_player_ls = list(player_df['name'].unique())
                temp_player_ls.remove(player)
                
                if len(temp_player_ls) < 5:
                    print('error')
            else:
                temp_player_ls = list(count_df['name'].loc[count_df['lu_diff'] > 0].unique())
                temp_player_ls.remove(player)
                
            temp_5_man_lus = random_lineup_generator(temp_player_ls, 5, lu_diff)   

            #Add player to 5 man combos
            temp_lus = []
            for t, lu in enumerate(temp_5_man_lus):
                temp_lus.append(lu + (player,))

            temp_df = pd.DataFrame(temp_lus)

            #replace teams in lineup_df

            #select random indexs len num of lineups to replace
            removal_index = sorted(random.sample(range(num_lineups), lu_diff))

            new_df = lineup_df.loc[~lineup_df.index.isin(removal_index)]

            lineup_df = pd.concat([new_df, temp_df])
            lineup_df.reset_index(inplace = True, drop = True)


        if lu_diff < 0:
            lu_diff = abs(lu_diff)

            # Create 6 man teams to replace teams with player
            #temp_player_ls = list(player_df['name'].unique())
            if p < 1:
                temp_player_ls = list(player_df['name'].unique())
                temp_player_ls.remove(player)
                
                if len(temp_player_ls) < 6:
                    print('error')

            else:
                temp_player_ls = list(count_df['name'].loc[count_df['lu_diff'] > 0].unique())
                #temp_player_ls.remove(player)

            temp_6_man_lus = random_lineup_generator(temp_player_ls, 6, lu_diff)
            temp_df = pd.DataFrame(temp_6_man_lus)

            #Remove existing lineups with player in them
            removal_index = lineup_df[lineup_df.apply(lambda x: x.str.contains(player, case = False).any(),
                                                      axis = 1)].sample(frac=1).head(lu_diff).index

            new_df = lineup_df.loc[~lineup_df.index.isin(removal_index)]

            lineup_df = pd.concat([new_df, temp_df])
            lineup_df.reset_index(inplace = True, drop = True)
            
            

        count_df = lineup_df.apply(pd.Series.value_counts)

        #Turn counts into percent
        count_df['count'] = count_df.sum(axis = 1)
        count_df.reset_index(inplace = True)
        count_df.rename(columns = {'index': 'name'}, inplace = True)
        count_df['owned'] = count_df['name'].apply(lambda x: return_ownership(x))
        count_df['target_lus'] = count_df['owned'] * num_lineups
        count_df['lu_diff'] = count_df['target_lus'] - count_df['count']
        
print(datetime.datetime.now() - start)

  0%|          | 0/8 [00:00<?, ?it/s]
0it [00:00, ?it/s]
3it [00:00, 26.21it/s]
6it [00:00, 27.20it/s]
10it [00:00, 30.02it/s]
14it [00:00, 31.43it/s]
17it [00:02,  3.93it/s]
22it [00:02,  5.40it/s]
26it [00:05,  3.28it/s]
28it [00:07,  1.82it/s]
34it [00:07,  2.56it/s]
37it [00:14,  1.04it/s]
42it [00:16,  1.24it/s]
44it [00:21,  1.24s/it]
46it [00:23,  1.21s/it]
47it [00:25,  1.53s/it]
48it [00:28,  1.75s/it]
54it [00:30,  1.34s/it]
57it [00:32,  1.17s/it]
59it [00:34,  1.16s/it]
61it [00:37,  1.15s/it]
62it [00:39,  1.49s/it]
63it [00:41,  1.72s/it]
64it [00:44,  1.90s/it]
65it [00:46,  2.01s/it]
66it [00:48,  2.08s/it]
68it [00:50,  1.80s/it]
69it [00:53,  1.96s/it]
70it [00:55,  2.06s/it]
71it [00:57,  2.12s/it]
72it [01:00,  2.16s/it]
73it [01:02,  2.19s/it]
74it [01:04,  2.22s/it]
79it [01:06,  1.70s/it]
82it [01:09,  1.41s/it]
88it [01:11,  1.10s/it]
90it [01:13,  1.12s/it]
93it [01:16,  1.01s/it]
94it [01:18,  1.38s/it]
95it [01:20,  1.65s/it]
97it [01:22,  1.50s/it]
98it [01:25,  1.73s/it]
102it [01:27,  1.39s/it]
106it [01:29,  1.14s/it]
107it [01:32,  1.48s/it]
108it [01:34,  1.73s/it]
111it [01:36,  1.44s/it]
113it [01:38,  1.36s/it]
115it [01:41,  1.29s/it]
116it [01:43,  1.59s/it]
117it [01:45,  1.80s/it]
120it [01:48,  1.49s/it]
121it [01:50,  1.73s/it]
122it [01:52,  1.90s/it]
123it [01:55,  2.02s/it]
124it [01:57,  2.09s/it]
125it [01:59,  2.14s/it]
126it [02:01,  2.18s/it]
 12%|█▎        | 1/8 [02:01<14:13, 121.87s/it]
0it [00:00, ?it/s]
4it [00:00, 28.94it/s]
9it [00:00, 31.82it/s]
14it [00:00, 33.31it/s]
19it [00:00, 36.77it/s]
23it [00:00, 37.38it/s]
27it [00:02,  5.23it/s]
33it [00:05,  3.95it/s]
35it [00:07,  1.91it/s]
37it [00:09,  1.42it/s]
39it [00:12,  1.20it/s]
42it [00:14,  1.23it/s]
43it [00:16,  1.25s/it]
46it [00:18,  1.11s/it]
47it [00:21,  1.46s/it]
53it [00:21,  1.03s/it]
55it [00:25,  1.41s/it]
57it [00:28,  1.33s/it]
59it [00:30,  1.27s/it]
61it [00:32,  1.23s/it]
62it [00:35,  1.54s/it]
63it [00:37,  1.77s/it]
64it [00:39,  1.92s/it]
68it [00:42,  1.52s/it]
69it [00:44,  1.75s/it]
70it [00:46,  1.92s/it]
71it [00:48,  2.04s/it]
72it [00:51,  2.11s/it]
73it [00:53,  2.16s/it]
74it [00:55,  2.20s/it]
76it [00:58,  1.88s/it]
81it [01:00,  1.45s/it]
82it [01:02,  1.71s/it]
84it [01:04,  1.53s/it]
88it [01:07,  1.25s/it]
90it [01:09,  1.21s/it]
91it [01:11,  1.54s/it]
92it [01:14,  1.76s/it]
95it [01:16,  1.46s/it]
96it [01:18,  1.71s/it]
97it [01:20,  1.88s/it]
98it [01:23,  2.00s/it]
100it [01:25,  1.75s/it]
105it [01:27,  1.36s/it]
106it [01:30,  1.63s/it]
107it [01:32,  1.82s/it]
108it [01:34,  1.95s/it]
109it [01:36,  2.05s/it]
110it [01:39,  2.12s/it]
111it [01:41,  2.17s/it]
112it [01:43,  2.19s/it]
113it [01:46,  2.20s/it]
114it [01:48,  2.23s/it]
115it [01:50,  2.25s/it]
117it [01:52,  1.92s/it]
118it [01:55,  2.02s/it]
120it [01:57,  1.76s/it]
121it [01:59,  1.90s/it]
124it [02:02,  1.57s/it]
125it [02:04,  1.79s/it]
 25%|██▌       | 2/8 [04:06<12:15, 122.62s/it]
0it [00:00, ?it/s]
4it [00:00, 28.92it/s]
9it [00:00, 31.64it/s]
14it [00:00, 32.96it/s]
19it [00:00, 36.12it/s]
23it [00:00, 36.61it/s]
27it [00:05,  2.75it/s]
33it [00:05,  3.86it/s]
37it [00:09,  1.93it/s]
40it [00:12,  1.70it/s]
42it [00:14,  1.33it/s]
44it [00:18,  1.20s/it]
45it [00:21,  1.52s/it]
46it [00:23,  1.73s/it]
47it [00:25,  1.90s/it]
48it [00:27,  2.00s/it]
54it [00:30,  1.52s/it]
55it [00:32,  1.74s/it]
58it [00:34,  1.45s/it]
62it [00:37,  1.19s/it]
64it [00:39,  1.18s/it]
68it [00:41,  1.01it/s]
70it [00:43,  1.04s/it]
71it [00:46,  1.41s/it]
72it [00:48,  1.68s/it]
73it [00:50,  1.85s/it]
74it [00:53,  1.97s/it]
76it [00:55,  1.72s/it]
78it [00:57,  1.55s/it]
79it [00:59,  1.77s/it]
81it [01:02,  1.58s/it]
82it [01:04,  1.80s/it]
84it [01:06,  1.60s/it]
86it [01:09,  1.46s/it]
88it [01:11,  1.36s/it]
90it [01:13,  1.29s/it]
94it [01:15,  1.07s/it]
95it [01:18,  1.43s/it]
96it [01:20,  1.68s/it]
97it [01:22,  1.86s/it]
98it [01:24,  1.98s/it]
100it [01:27,  1.73s/it]
105it [01:29,  1.35s/it]
108it [01:31,  1.17s/it]
110it [01:34,  1.16s/it]
111it [01:36,  1.49s/it]
112it [01:38,  1.73s/it]
113it [01:40,  1.89s/it]
115it [01:43,  1.66s/it]
116it [01:45,  1.85s/it]
117it [01:47,  1.99s/it]
118it [01:50,  2.08s/it]
120it [01:52,  1.79s/it]
121it [01:54,  1.93s/it]
122it [01:56,  2.03s/it]
123it [01:59,  2.10s/it]
124it [02:01,  2.16s/it]
125it [02:03,  2.20s/it]
127it [02:05,  1.88s/it]
 38%|███▊      | 3/8 [06:12<10:18, 123.62s/it]
0it [00:00, ?it/s]
4it [00:00, 29.04it/s]
9it [00:00, 31.72it/s]
13it [00:00, 33.77it/s]
17it [00:00, 34.01it/s]
22it [00:00, 35.95it/s]
26it [00:02,  5.09it/s]
31it [00:05,  3.57it/s]
35it [00:07,  2.70it/s]
37it [00:09,  1.66it/s]
43it [00:12,  1.85it/s]
44it [00:14,  1.06s/it]
45it [00:16,  1.41s/it]
47it [00:19,  1.33s/it]
48it [00:21,  1.61s/it]
54it [00:23,  1.25s/it]
59it [00:26,  1.01s/it]
62it [00:28,  1.07it/s]
64it [00:30,  1.00it/s]
69it [00:33,  1.19it/s]
70it [00:35,  1.28s/it]
72it [00:37,  1.24s/it]
74it [00:39,  1.20s/it]
76it [00:42,  1.18s/it]
78it [00:44,  1.17s/it]
79it [00:46,  1.50s/it]
80it [00:48,  1.73s/it]
81it [00:51,  1.89s/it]
82it [00:53,  2.00s/it]
85it [00:55,  1.63s/it]
88it [00:58,  1.37s/it]
90it [01:00,  1.30s/it]
92it [01:02,  1.26s/it]
94it [01:04,  1.22s/it]
95it [01:07,  1.53s/it]
96it [01:09,  1.75s/it]
97it [01:11,  1.91s/it]
99it [01:14,  1.68s/it]
100it [01:16,  1.85s/it]
102it [01:18,  1.64s/it]
105it [01:20,  1.38s/it]
106it [01:23,  1.65s/it]
108it [01:25,  1.51s/it]
110it [01:27,  1.39s/it]
113it [01:30,  1.21s/it]
115it [01:32,  1.19s/it]
116it [01:34,  1.51s/it]
120it [01:36,  1.23s/it]
121it [01:39,  1.54s/it]
126it [01:41,  1.21s/it]
 50%|█████     | 4/8 [07:53<07:47, 116.98s/it]
0it [00:00, ?it/s]
4it [00:00, 29.42it/s]
9it [00:00, 32.22it/s]
14it [00:00, 33.46it/s]
19it [00:00, 36.37it/s]
23it [00:00, 36.57it/s]
27it [00:02,  5.15it/s]
33it [00:03,  7.08it/s]
37it [00:05,  3.70it/s]
40it [00:07,  2.39it/s]
42it [00:09,  1.58it/s]
44it [00:12,  1.28it/s]
45it [00:14,  1.22s/it]
46it [00:16,  1.52s/it]
47it [00:18,  1.75s/it]
52it [00:21,  1.37s/it]
54it [00:23,  1.30s/it]
55it [00:25,  1.61s/it]
59it [00:28,  1.30s/it]
62it [00:30,  1.14s/it]
63it [00:32,  1.47s/it]
64it [00:35,  1.72s/it]
65it [00:37,  1.89s/it]
66it [00:39,  2.01s/it]
68it [00:42,  1.75s/it]
69it [00:44,  1.91s/it]
70it [00:46,  2.02s/it]
71it [00:48,  2.11s/it]
72it [00:51,  2.16s/it]
73it [00:53,  2.19s/it]
74it [00:55,  2.21s/it]
80it [00:58,  1.67s/it]
81it [01:00,  1.85s/it]
82it [01:02,  1.97s/it]
84it [01:04,  1.73s/it]
85it [01:07,  1.90s/it]
88it [01:09,  1.56s/it]
89it [01:11,  1.78s/it]
90it [01:14,  1.92s/it]
92it [01:16,  1.69s/it]
93it [01:18,  1.86s/it]
94it [01:20,  2.00s/it]
95it [01:23,  2.08s/it]
98it [01:25,  1.69s/it]
99it [01:27,  1.87s/it]
101it [01:30,  1.65s/it]
102it [01:32,  1.85s/it]
105it [01:34,  1.52s/it]
106it [01:36,  1.74s/it]
109it [01:39,  1.45s/it]
111it [01:41,  1.36s/it]
113it [01:43,  1.29s/it]
114it [01:46,  1.58s/it]
115it [01:48,  1.80s/it]
117it [01:50,  1.61s/it]
118it [01:52,  1.81s/it]
120it [01:55,  1.61s/it]
124it [01:57,  1.30s/it]
126it [01:59,  1.26s/it]
127it [02:02,  1.57s/it]
 62%|██████▎   | 5/8 [09:55<05:55, 118.55s/it]
0it [00:00, ?it/s]
4it [00:00, 29.45it/s]
9it [00:00, 32.25it/s]
14it [00:00, 33.46it/s]
19it [00:00, 36.66it/s]
23it [00:00, 37.16it/s]
27it [00:02,  5.17it/s]
33it [00:05,  3.95it/s]
35it [00:07,  1.90it/s]
37it [00:09,  1.41it/s]
42it [00:12,  1.57it/s]
43it [00:14,  1.13s/it]
44it [00:16,  1.47s/it]
45it [00:19,  1.70s/it]
51it [00:19,  1.20s/it]
54it [00:21,  1.07s/it]
56it [00:23,  1.09s/it]
59it [00:26,  1.00it/s]
61it [00:28,  1.04s/it]
62it [00:30,  1.41s/it]
64it [00:32,  1.34s/it]
68it [00:35,  1.11s/it]
69it [00:37,  1.46s/it]
71it [00:39,  1.37s/it]
72it [00:42,  1.63s/it]
73it [00:44,  1.82s/it]
74it [00:46,  1.96s/it]
76it [00:48,  1.71s/it]
79it [00:51,  1.43s/it]
81it [00:53,  1.35s/it]
82it [00:55,  1.64s/it]
85it [00:58,  1.38s/it]
88it [01:00,  1.20s/it]
89it [01:02,  1.50s/it]
90it [01:04,  1.73s/it]
91it [01:07,  1.89s/it]
92it [01:09,  2.00s/it]
94it [01:11,  1.74s/it]
95it [01:14,  1.93s/it]
96it [01:16,  2.07s/it]
97it [01:18,  2.17s/it]
101it [01:21,  1.70s/it]
102it [01:23,  1.89s/it]
105it [01:25,  1.55s/it]
106it [01:28,  1.76s/it]
108it [01:30,  1.58s/it]
109it [01:32,  1.78s/it]
111it [01:35,  1.59s/it]
113it [01:37,  1.46s/it]
114it [01:39,  1.71s/it]
115it [01:41,  1.87s/it]
116it [01:44,  1.98s/it]
117it [01:46,  2.08s/it]
118it [01:48,  2.15s/it]
122it [01:51,  1.68s/it]
124it [01:53,  1.53s/it]
126it [01:55,  1.41s/it]
 75%|███████▌  | 6/8 [11:51<03:55, 117.70s/it]
0it [00:00, ?it/s]
4it [00:00, 30.09it/s]
9it [00:00, 32.92it/s]
14it [00:00, 33.72it/s]
19it [00:00, 36.46it/s]
23it [00:00, 37.30it/s]
27it [00:05,  2.78it/s]
31it [00:07,  2.34it/s]
35it [00:09,  2.11it/s]
37it [00:14,  1.00s/it]
42it [00:16,  1.19it/s]
43it [00:18,  1.27s/it]
44it [00:21,  1.57s/it]
46it [00:23,  1.44s/it]
47it [00:25,  1.68s/it]
48it [00:27,  1.86s/it]
54it [00:30,  1.42s/it]
58it [00:32,  1.16s/it]
59it [00:34,  1.50s/it]
61it [00:37,  1.40s/it]
63it [00:39,  1.32s/it]
64it [00:41,  1.61s/it]
68it [00:44,  1.30s/it]
69it [00:46,  1.60s/it]
70it [00:48,  1.81s/it]
72it [00:50,  1.62s/it]
73it [00:53,  1.81s/it]
78it [00:55,  1.41s/it]
79it [00:57,  1.67s/it]
80it [01:00,  1.85s/it]
82it [01:02,  1.64s/it]
84it [01:04,  1.50s/it]
85it [01:07,  1.74s/it]
87it [01:09,  1.56s/it]
88it [01:11,  1.78s/it]
89it [01:13,  1.92s/it]
90it [01:16,  2.03s/it]
92it [01:18,  1.77s/it]
94it [01:20,  1.58s/it]
97it [01:23,  1.34s/it]
99it [01:25,  1.28s/it]
100it [01:27,  1.59s/it]
101it [01:30,  1.80s/it]
102it [01:32,  1.95s/it]
105it [01:34,  1.60s/it]
106it [01:36,  1.80s/it]
107it [01:39,  1.94s/it]
109it [01:41,  1.70s/it]
110it [01:43,  1.88s/it]
111it [01:46,  2.01s/it]
113it [01:48,  1.74s/it]
115it [01:50,  1.56s/it]
116it [01:52,  1.77s/it]
120it [01:55,  1.41s/it]
121it [01:57,  1.68s/it]
124it [01:59,  1.41s/it]
126it [02:02,  1.33s/it]
 88%|████████▊ | 7/8 [13:53<01:59, 119.04s/it]
0it [00:00, ?it/s]
4it [00:00, 29.40it/s]
9it [00:00, 32.04it/s]
14it [00:00, 33.31it/s]
19it [00:00, 36.54it/s]
23it [00:00, 37.03it/s]
27it [00:02,  5.14it/s]
31it [00:05,  3.19it/s]
35it [00:07,  2.53it/s]
37it [00:12,  1.05it/s]
43it [00:14,  1.28it/s]
44it [00:16,  1.23s/it]
45it [00:19,  1.54s/it]
46it [00:21,  1.76s/it]
52it [00:21,  1.24s/it]
54it [00:23,  1.21s/it]
56it [00:25,  1.19s/it]
59it [00:28,  1.06s/it]
62it [00:30,  1.03it/s]
69it [00:32,  1.28it/s]
70it [00:35,  1.23s/it]
71it [00:37,  1.54s/it]
72it [00:39,  1.75s/it]
74it [00:42,  1.57s/it]
80it [00:42,  1.10s/it]
82it [00:46,  1.45s/it]
84it [00:48,  1.36s/it]
88it [00:51,  1.12s/it]
90it [00:53,  1.13s/it]
91it [00:55,  1.49s/it]
92it [00:58,  1.73s/it]
94it [01:00,  1.56s/it]
95it [01:02,  1.79s/it]
96it [01:05,  1.94s/it]
97it [01:07,  2.05s/it]
98it [01:09,  2.11s/it]
105it [01:12,  1.58s/it]
107it [01:14,  1.45s/it]
108it [01:16,  1.69s/it]
109it [01:18,  1.87s/it]
110it [01:21,  2.00s/it]
113it [01:23,  1.62s/it]
116it [01:25,  1.37s/it]
117it [01:28,  1.64s/it]
118it [01:30,  1.82s/it]
120it [01:32,  1.62s/it]
121it [01:34,  1.82s/it]
100%|██████████| 8/8 [15:28<00:00, 111.81s/it]

0:15:29.383801

In [215]:
count_df

,name,0,1,2,3,4,5,count,owned,target_lus,lu_diff
0,Adam Hadwin,735.0,1.0,1.0,1.0,NaN,7.0,745.0,0.05,750.0,5.0
1,Adam Rainaud,NaN,NaN,NaN,2.0,6.0,NaN,8.0,NaN,NaN,NaN
2,Adam Scott,935.0,41.0,NaN,NaN,NaN,1021.0,1997.0,0.25,3750.0,1753.0
3,Alex Beach,NaN,NaN,NaN,NaN,6.0,NaN,6.0,NaN,NaN,NaN
4,Alexander Levy,130.0,13.0,1.0,5.0,NaN,NaN,149.0,0.01,150.0,1.0
5,Alexander Noren,627.0,76.0,3.0,NaN,NaN,31.0,737.0,0.05,750.0,13.0
6,Andrew Johnston,130.0,21.0,3.0,2.0,1.0,NaN,157.0,0.01,150.0,-7.0
7,Andy Sullivan,125.0,18.0,5.0,1.0,NaN,2.0,151.0,0.01,150.0,-1.0
8,Anirban Lahiri,118.0,23.0,5.0,2.0,1.0,NaN,149.0,0.01,150.0,1.0
9,Bernd Wiesberger,476.0,92.0,7.0,NaN,NaN,20.0,595.0,0.04,600.0,5.0
10,Bernhard Langer,127.0,17.0,2.0,1.0,2.0,NaN,149.0,0.01,150.0,1.0
11,Bill Haas,482.0,91.0,6.0,NaN,NaN,19.0,598.0,0.04,600.0,2.0
12,Billy Horschel,114.0,42.0,5.0,NaN,NaN,NaN,161.0,0.01,150.0,-11.0
13,Branden Grace,821.0,215.0,14.0,1.0,NaN,109.0,1160.0,0.08,1200.0,40.0
14,Brandon Stone,105.0,39.0,7.0,1.0,NaN,NaN,152.0,0.01,150.0,-2.0
15,Brandt Snedeker,5.0,1.0,1.0,1.0,NaN,NaN,8.0,NaN,NaN,NaN
16,Brendan Steele,741.0,254.0,25.0,NaN,NaN,248.0,1268.0,0.09,1350.0,82.0
17,Brian Harman,489.0,205.0,33.0,3.0,1.0,11.0,742.0,0.05,750.0,8.0
18,Brian Smock,NaN,NaN,1.0,NaN,3.0,NaN,4.0,NaN,NaN,NaN
19,Brooks Koepka,676.0,300.0,39.0,5.0,NaN,357.0,1377.0,0.15,2250.0,873.0
20,Bryson DeChambeau,343.0,199.0,50.0,3.0,NaN,2.0,597.0,0.04,600.0,3.0
21,Bubba Watson,631.0,389.0,76.0,9.0,NaN,191.0,1296.0,0.09,1350.0,54.0
22,Bud Cauley,477.0,315.0,73.0,8.0,2.0,22.0,897.0,0.06,900.0,3.0
23,Byeong-Hun An,228.0,174.0,46.0,6.0,NaN,NaN,454.0,0.03,450.0,-4.0
24,Cameron Smith,73.0,58.0,14.0,2.0,1.0,NaN,148.0,0.01,150.0,2.0
25,Charl Schwartzel,575.0,385.0,102.0,14.0,1.0,299.0,1376.0,0.10,1500.0,124.0
26,Charles Howell,490.0,448.0,129.0,15.0,3.0,106.0,1191.0,0.08,1200.0,9.0
27,Charley Hoffman,425.0,415.0,127.0,16.0,NaN,736.0,1719.0,0.15,2250.0,531.0
28,Chez Reavie,225.0,251.0,106.0,12.0,4.0,NaN,598.0,0.04,600.0,2.0
29,Chris Moody,NaN,NaN,NaN,2.0,2.0,NaN,4.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
128,Ryan Vermeer,NaN,NaN,NaN,NaN,10.0,NaN,10.0,NaN,NaN,NaN
129,Satoshi Kodaira,NaN,NaN,NaN,7.0,2.0,NaN,9.0,NaN,NaN,NaN
130,Scott Brown,NaN,5.0,36.0,111.0,144.0,9.0,305.0,0.02,300.0,-5.0
131,Scott Hebert,NaN,NaN,NaN,2.0,6.0,NaN,8.0,NaN,NaN,NaN
132,Scott Hend,NaN,NaN,19.0,48.0,77.0,5.0,149.0,0.01,150.0,1.0
133,Sean O'Hair,1.0,5.0,41.0,158.0,240.0,5.0,450.0,0.03,450.0,0.0
134,Sergio Garcia,10.0,10.0,88.0,365.0,555.0,372.0,1400.0,0.15,2250.0,850.0
135,Shane Lowry,NaN,8.0,47.0,272.0,402.0,13.0,742.0,0.05,750.0,8.0
136,Shaun Micheel,NaN,NaN,NaN,3.0,5.0,NaN,8.0,NaN,NaN,NaN
137,Si Woo Kim,1.0,4.0,23.0,104.0,160.0,7.0,299.0,0.02,300.0,1.0
138,Soren Kjeldsen,1.0,4.0,9.0,45.0,84.0,7.0,150.0,0.01,150.0,0.0
139,Steve Stricker,NaN,7.0,54.0,299.0,630.0,208.0,1198.0,0.08,1200.0,2.0
140,Stuart Deane,NaN,NaN,NaN,1.0,5.0,NaN,6.0,NaN,NaN,NaN
141,Sung Kang,NaN,2.0,30.0,118.0,277.0,28.0,455.0,0.03,450.0,-5.0
142,Thomas Bjorn,NaN,NaN,9.0,42.0,92.0,7.0,150.0,0.01,150.0,0.0
143,Thomas Pieters,4.0,5.0,33.0,290.0,663.0,560.0,1555.0,0.12,1800.0,245.0
144,Thongchai Jaidee,NaN,NaN,12.0,47.0,90.0,NaN,149.0,0.01,150.0,1.0
145,Thorbjorn Olesen,NaN,3.0,8.0,38.0,101.0,NaN,150.0,0.01,150.0,0.0
146,Tommy Fleetwood,5.0,1.0,19.0,241.0,727.0,138.0,1131.0,0.08,1200.0,69.0
147,Tony Finau,2.0,2.0,14.0,200.0,827.0,910.0,1955.0,0.15,2250.0,295.0
148,Tyrrell Hatton,NaN,NaN,2.0,32.0,113.0,2.0,149.0,0.01,150.0,1.0
149,Vijay Singh,NaN,2.0,7.0,26.0,110.0,7.0,152.0,0.01,150.0,-2.0
150,Webb Simpson,1.0,1.0,5.0,158.0,865.0,157.0,1187.0,0.08,1200.0,13.0
151,Wesley Bryan,1.0,3.0,NaN,55.0,389.0,16.0,464.0,0.03,450.0,-14.0
152,William McGirt,NaN,1.0,3.0,38.0,400.0,10.0,452.0,0.03,450.0,-2.0
153,Xander Schauffele,3.0,2.0,1.0,45.0,810.0,32.0,893.0,0.06,900.0,7.0
154,Y.E. Yang,NaN,NaN,1.0,2.0,4.0,NaN,7.0,NaN,NaN,NaN
155,Younghan Song,NaN,NaN,1.0,11.0,135.0,3.0,150.0,0.01,150.0,0.0
156,Yuta Ikeda,NaN,NaN,1.0,3.0,1.0,NaN,5.0,NaN,NaN,NaN
157,Zach Johnson,1.0,2.0,3.0,2.0,939.0,770.0,1717.0,0.12,1800.0,83.0

In [197]:
count_df.loc[count_df['name'] == 'Rory McIlroy']

,name,0,1,2,3,4,5,count,owned,target_lus,lu_diff
122,Rory McIlroy,636.0,24.0,NaN,NaN,NaN,NaN,660.0,0.23,3450.0,-2790.0

In [216]:
base_sql = """SELECT strokes_gained.player_id, strokes_gained.player_name,
    strokes_gained.date_started,
    strokes_gained.tournament_id,
    strokes_gained.course_num,
    strokes_gained.`year`,
    strokes_gained.round_num,
    strokes_gained.hole_num,
    strokes_gained.hole_id, 
    strokes_gained.par,
    strokes_gained.stroke_num, 
    strokes_gained.stroke_gained,
    strokes_gained.shot_loc,
    strokes_gained.shot_dist,
    course_holes.hole_id,
    course_holes.tee_loc_dist_to_pin
    FROM strokes_gained
    inner join course_holes
    on course_holes.hole_id = strokes_gained.hole_id"""
#base_sql = 'SELECT * FROM pga.strokes_gained'
#

for p, pid in enumerate(range(50)):
    pid_formatted = str(np.int64(pid))
    if p < 1:
        where_sql = ' Where player_id = {} or'.format(pid_formatted)
    else:
        where_sql = ' player_id = {} or'.format(pid_formatted)

    base_sql = base_sql + where_sql

In [217]:
base_sql

'SELECT strokes_gained.player_id, strokes_gained.player_name,\n    strokes_gained.date_started,\n    strokes_gained.tournament_id,\n    strokes_gained.course_num,\n    strokes_gained.`year`,\n    strokes_gained.round_num,\n    strokes_gained.hole_num,\n    strokes_gained.hole_id, \n    strokes_gained.par,\n    strokes_gained.stroke_num, \n    strokes_gained.stroke_gained,\n    strokes_gained.shot_loc,\n    strokes_gained.shot_dist,\n    course_holes.hole_id,\n    course_holes.tee_loc_dist_to_pin\n    FROM strokes_gained\n    inner join course_holes\n    on course_holes.hole_id = strokes_gained.hole_id Where player_id = 0 or player_id = 1 or player_id = 2 or player_id = 3 or player_id = 4 or player_id = 5 or player_id = 6 or player_id = 7 or player_id = 8 or player_id = 9 or player_id = 10 or player_id = 11 or player_id = 12 or player_id = 13 or player_id = 14 or player_id = 15 or player_id = 16 or player_id = 17 or player_id = 18 or player_id = 19 or player_id = 20 or player_id = 21 or player_id = 22 or player_id = 23 or player_id = 24 or player_id = 25 or player_id = 26 or player_id = 27 or player_id = 28 or player_id = 29 or player_id = 30 or player_id = 31 or player_id = 32 or player_id = 33 or player_id = 34 or player_id = 35 or player_id = 36 or player_id = 37 or player_id = 38 or player_id = 39 or player_id = 40 or player_id = 41 or player_id = 42 or player_id = 43 or player_id = 44 or player_id = 45 or player_id = 46 or player_id = 47 or player_id = 48 or player_id = 49 or'