In [300]:
import pandas as pd
import numpy as np
from numpy.random import choice
import os
from tqdm import tqdm

In [2]:
def convert_odds(x):
    return 100 / (x + 100)

convert_odds(750)

0.11764705882352941

In [62]:
round_robins = {
    1: {'dj': 850, 'kisner': 10000, 'hadwin': 10000, 'wies': 17500}, 
    2: {'kuch': 7500, 'fisher': 10000, 'ikeda': 30000,'zj': 6600},
    3: {'fleetwood': 3300, 'berger': 8000, 'chappell': 8000, 'poulter': 12500},
    4: {'day': 1200, 'oost': 5000, 'duf': 12500, 'hahn': 15000},
    5: {'hideki': 3500, 'cantlay': 4500, 'ca. smith': 10000, 'miyazato': 30000},
    6: {'hatton': 3500, 'hoffman': 8000, 'steele': 10000, 'levy': 12500},
    7: {'noren': 3300, 'finau': 6600, 'pieters': 6600, 'na': 10000},
    8: {'spieth': 1600, 'reed': 2800, 'li': 12500, 'schwartzel': 12500},
    9: {'thomas': 1100, 'molinari': 10000, 'kizzire': 12500, 'list': 7500},
    10: {'perez': 8000, 'woodland': 6600, 'simpson': 8000, 'kim': 15000},
    11: {'casey': 2000, 'fitzpatrick': 10000,'stanley': 12500, 'henley': 12500},
    12: {'sergio': 2800, 'xander': 6600, 'frittelli': 10000, 'sharma': 10000},
    13: {'rory': 750, 'harman': 8000, 'vegas': 17500, 'uihlein': 17500},
    14: {'leishman': 4500, 'grace':6000 , 'bubba': 5000, 'suri': 20000},
    15: {'mickelson': 2500, 'bello': 5000, 'kodaira': 30000, 'howell III': 10000},
    16: {'rahm': 1200, 'aphibarnrat': 8000, 'reavie': 12500, 'keegan': 12500}
}

odds_df = pd.DataFrame(columns = ['player', 'beginning_odds', 'r1_odds', 'group'])
odds_count = 0

for key, value in round_robins.items():
    count = 0
    for k, v in value.items():
        if count == 0:
            p1 = convert_odds(v)
        elif count == 1:
            p2 = convert_odds(v)
        elif count == 2:
            p3 = convert_odds(v)
        elif count == 3:
            p4 = convert_odds(v)
        count += 1
    
    total = p1 + p2 + p3 + p4
    p1_odds = p1 / total
    p2_odds = p2 / total
    p3_odds = p3 / total
    p4_odds = p4 / total
    
    second_count = 0
    for k, v in value.items():
        if second_count == 0:
            odds_df.loc[odds_count] = [k, p1, p1_odds, key]
        elif second_count == 1:
            odds_df.loc[odds_count] = [k, p2, p2_odds, key]
        elif second_count == 2:
            odds_df.loc[odds_count] = [k, p3, p3_odds, key]
        elif second_count == 3:
            odds_df.loc[odds_count] = [k, p4, p4_odds, key]
        
        second_count += 1
        odds_count += 1
    
    
odds_df

         player  beginning_odds   r1_odds  group
0            dj        0.105263  0.805091    1.0
1          wies        0.005682  0.043457    1.0
2        hadwin        0.009901  0.075726    1.0
3        kisner        0.009901  0.075726    1.0
4          kuch        0.013158  0.318543    2.0
5         ikeda        0.003322  0.080429    2.0
6        fisher        0.009901  0.239696    2.0
7            zj        0.014925  0.361332    2.0
8        berger        0.012346  0.198997    3.0
9      chappell        0.012346  0.198997    3.0
10      poulter        0.007937  0.127926    3.0
11    fleetwood        0.029412  0.474080    3.0
12         oost        0.019608  0.176504    4.0
13         hahn        0.006623  0.059614    4.0
14          day        0.076923  0.692440    4.0
15          duf        0.007937  0.071442    4.0
16     miyazato        0.003322  0.052953    5.0
17    ca. smith        0.009901  0.157809    5.0
18       hideki        0.027778  0.442743    5.0
19      cantlay        0.021739  0.346495    5.0
20       steele        0.009901  0.170822    6.0
21      hoffman        0.012346  0.213000    6.0
22         levy        0.007937  0.136929    6.0
23       hatton        0.027778  0.479250    6.0
24      pieters        0.014925  0.215798    7.0
25           na        0.009901  0.143153    7.0
26        finau        0.014925  0.215798    7.0
27        noren        0.029412  0.425250    7.0
28           li        0.007937  0.072692    8.0
29   schwartzel        0.007937  0.072692    8.0
..          ...             ...       ...    ...
34         list        0.013158  0.115088    9.0
35       thomas        0.083333  0.728892    9.0
36          kim        0.006623  0.143223   10.0
37     woodland        0.014925  0.322786   10.0
38      simpson        0.012346  0.266996   10.0
39        perez        0.012346  0.266996   10.0
40        casey        0.047619  0.648822   11.0
41      stanley        0.007937  0.108137   11.0
42  fitzpatrick        0.009901  0.134904   11.0
43       henley        0.007937  0.108137   11.0
44       sergio        0.034483  0.498233   12.0
45       xander        0.014925  0.215653   12.0
46       sharma        0.009901  0.143057   12.0
47    frittelli        0.009901  0.143057   12.0
48       harman        0.012346  0.087337   13.0
49      uihlein        0.005682  0.040195   13.0
50         rory        0.117647  0.832273   13.0
51        vegas        0.005682  0.040195   13.0
52     leishman        0.021739  0.346631   14.0
53        grace        0.016393  0.261394   14.0
54         suri        0.004975  0.079328   14.0
55        bubba        0.019608  0.312647   14.0
56    mickelson        0.038462  0.539488   15.0
57        bello        0.019608  0.275033   15.0
58      kodaira        0.003322  0.046600   15.0
59   howell III        0.009901  0.138878   15.0
60       keegan        0.007937  0.075484   16.0
61       reavie        0.007937  0.075484   16.0
62  aphibarnrat        0.012346  0.117419   16.0
63         rahm        0.076923  0.731613   16.0

[64 rows x 4 columns]

In [15]:
odds_df.sort_values('r1_odds', ascending = False)

         player   r1_odds  group
50         rory  0.832273   13.0
0            dj  0.805091    1.0
63         rahm  0.731613   16.0
35       thomas  0.728892    9.0
14          day  0.692440    4.0
40        casey  0.648822   11.0
56    mickelson  0.539488   15.0
31       spieth  0.538779    8.0
44       sergio  0.498233   12.0
23       hatton  0.479250    6.0
11    fleetwood  0.474080    3.0
18       hideki  0.442743    5.0
27        noren  0.425250    7.0
7            zj  0.361332    2.0
52     leishman  0.346631   14.0
19      cantlay  0.346495    5.0
37     woodland  0.322786   10.0
4          kuch  0.318543    2.0
30         reed  0.315836    8.0
55        bubba  0.312647   14.0
57        bello  0.275033   15.0
38      simpson  0.266996   10.0
39        perez  0.266996   10.0
53        grace  0.261394   14.0
6        fisher  0.239696    2.0
26        finau  0.215798    7.0
24      pieters  0.215798    7.0
45       xander  0.215653   12.0
21      hoffman  0.213000    6.0
9      chappell  0.198997    3.0
..          ...       ...    ...
36          kim  0.143223   10.0
25           na  0.143153    7.0
47    frittelli  0.143057   12.0
46       sharma  0.143057   12.0
59   howell III  0.138878   15.0
22         levy  0.136929    6.0
42  fitzpatrick  0.134904   11.0
10      poulter  0.127926    3.0
62  aphibarnrat  0.117419   16.0
34         list  0.115088    9.0
41      stanley  0.108137   11.0
43       henley  0.108137   11.0
48       harman  0.087337   13.0
32     molinari  0.086601    9.0
5         ikeda  0.080429    2.0
54         suri  0.079328   14.0
3        kisner  0.075726    1.0
2        hadwin  0.075726    1.0
60       keegan  0.075484   16.0
61       reavie  0.075484   16.0
29   schwartzel  0.072692    8.0
28           li  0.072692    8.0
15          duf  0.071442    4.0
33      kizzire  0.069418    9.0
13         hahn  0.059614    4.0
16     miyazato  0.052953    5.0
58      kodaira  0.046600   15.0
1          wies  0.043457    1.0
51        vegas  0.040195   13.0
49      uihlein  0.040195   13.0

[64 rows x 3 columns]

In [309]:
def select_from_4(dic):
    player_ls = []
    odds_ls = []
    for player, odds in dic.items():
        player_ls.append(player)
        odds_ls.append(odds)
        
    winner = choice(player_ls, 1, odds_ls)
    return winnner

sim_df = pd.DataFrame(columns = ['p1', 'p2', 'p3', 'p4', 'semi_losers'])
sim_count = 0

for a in tqdm(range(5000)):
    final_winners = []
    final_losers = []
    for i in range(4):
        start_num = 4 * i + 1
        group_winners = []
        for j in range(4):
            temp_df = odds_df.loc[odds_df['group'] == start_num + j]
            players_ls = list(temp_df['player'].values)
            odds_ls = list(temp_df['r1_odds'].values)
            winner = choice(players_ls, 1, p = odds_ls)[0]
            odds = odds_ls[players_ls.index(winner)]
            initial_odds = odds_df['beginning_odds'].loc[odds_df['player'] == winner].values[0]

            group_winners.append({'winner': winner, 'odds': initial_odds})

        second_rd_group_1_total = group_winners[0]['odds'] + group_winners[1]['odds']
        second_rd_group_2_total = group_winners[2]['odds'] + group_winners[3]['odds']

        second_rd_player_1_odds = group_winners[0]['odds'] / second_rd_group_1_total
        second_rd_player_2_odds = group_winners[1]['odds'] / second_rd_group_1_total
        second_rd_player_3_odds = group_winners[2]['odds'] / second_rd_group_2_total
        second_rd_player_4_odds = group_winners[3]['odds'] / second_rd_group_2_total

        if second_rd_player_1_odds > .70:
            second_rd_player_1_odds = .70
            second_rd_player_2_odds = .30

        if second_rd_player_2_odds > .70:
            second_rd_player_2_odds = .70
            second_rd_player_1_odds = .30

        if second_rd_player_3_odds > .70:
            second_rd_player_3_odds = .70
            second_rd_player_4_odds = .30

        if second_rd_player_4_odds > .70:
            second_rd_player_4_odds = .70
            second_rd_player_3_odds = .30

        second_rd_winner_1 = choice([group_winners[0]['winner'], group_winners[1]['winner']], 1, p = [second_rd_player_1_odds, second_rd_player_2_odds])[0]
        second_rd_winner_2 = choice([group_winners[2]['winner'], group_winners[3]['winner']], 1, p = [second_rd_player_3_odds, second_rd_player_4_odds])[0]

        for group_winner in group_winners:
            if group_winner['winner'] == second_rd_winner_1:
                second_rd_winner_odds_1 = group_winner['odds']
            if group_winner['winner'] == second_rd_winner_2:
                second_rd_winner_odds_2 = group_winner['odds']

        semi_winners = [{'winner': second_rd_winner_1, 'odds': second_rd_winner_odds_1}, 
                        {'winner': second_rd_winner_2, 'odds': second_rd_winner_odds_2}]

        semi_total = semi_winners[0]['odds'] + semi_winners[1]['odds']

        semi_winner_1_odds = semi_winners[0]['odds'] / semi_total
        semi_winner_2_odds = semi_winners[1]['odds'] / semi_total

        if semi_winner_1_odds > .70:
            semi_winner_1_odds = .70
            semi_winner_2_odds = .30

        if semi_winner_2_odds > .70:
            semi_winner_2_odds = .70
            semi_winner_1_odds = .30

        final_winner = choice([semi_winners[0]['winner'], semi_winners[1]['winner']], 1, [semi_winner_1_odds, semi_winner_2_odds])[0]
        final_winners.append(final_winner)
        
        for semi_winner in semi_winners:
            if semi_winner['winner'] != final_winner:
                final_losers.append(semi_winner['winner'])
        
    final_winners.append(final_losers)
    sim_df.loc[sim_count] = final_winners
    sim_count += 1

sim_df

100%|██████████| 5000/5000 [01:24<00:00, 55.99it/s]

,p1,p2,p3,p4,semi_losers
0,chappell,hatton,simpson,rory,"[dj, spieth, casey, mickelson]"
1,day,hatton,thomas,aphibarnrat,"[fisher, spieth, casey, rory]"
2,chappell,noren,thomas,rory,"[kisner, ca. smith, sergio, rahm]"
3,day,hatton,molinari,bello,"[kisner, noren, casey, rory]"
4,day,reed,sergio,mickelson,"[kuch, hideki, molinari, rory]"
5,day,noren,casey,rory,"[dj, steele, woodland, rahm]"
6,dj,reed,thomas,grace,"[day, cantlay, casey, rahm]"
7,kuch,reed,sergio,rory,"[oost, cantlay, thomas, mickelson]"
8,dj,noren,sharma,rahm,"[fleetwood, ca. smith, perez, bubba]"
9,day,cantlay,casey,rory,"[dj, noren, molinari, keegan]"
10,dj,noren,casey,rory,"[day, levy, thomas, mickelson]"
11,zj,steele,thomas,aphibarnrat,"[fleetwood, spieth, casey, rory]"
12,dj,hideki,casey,mickelson,"[berger, pieters, simpson, rory]"
13,day,noren,casey,grace,"[zj, hideki, kim, aphibarnrat]"
14,fleetwood,hatton,simpson,rory,"[dj, pieters, xander, rahm]"
15,dj,spieth,sergio,mickelson,"[day, hideki, thomas, rory]"
16,dj,spieth,thomas,rory,"[day, hatton, sergio, bello]"
17,kuch,spieth,sergio,suri,"[oost, steele, thomas, rahm]"
18,hahn,hatton,perez,rory,"[dj, noren, casey, rahm]"
19,day,na,thomas,rahm,"[fisher, hatton, frittelli, bubba]"
20,fleetwood,finau,thomas,aphibarnrat,"[dj, hideki, fitzpatrick, leishman]"
21,fleetwood,hatton,sergio,keegan,"[dj, spieth, thomas, bubba]"
22,kuch,hoffman,casey,rory,"[day, pieters, thomas, rahm]"
23,kisner,hatton,sergio,rory,"[chappell, reed, perez, bello]"
24,day,ca. smith,perez,aphibarnrat,"[dj, spieth, casey, rory]"
25,day,cantlay,sergio,rory,"[zj, finau, perez, aphibarnrat]"
26,fisher,na,casey,mickelson,"[day, hideki, thomas, rory]"
27,poulter,pieters,thomas,rahm,"[dj, hoffman, casey, rory]"
28,dj,cantlay,sharma,mickelson,"[poulter, spieth, woodland, rory]"
29,day,hideki,frittelli,leishman,"[dj, spieth, thomas, rahm]"
...,...,...,...,...,...
4970,kuch,reed,thomas,rahm,"[day, hoffman, sergio, leishman]"
4971,day,reed,list,grace,"[dj, levy, sharma, mickelson]"
4972,day,miyazato,woodland,rory,"[dj, noren, stanley, rahm]"
4973,fleetwood,reed,sharma,howell III,"[fisher, hatton, thomas, rory]"
4974,duf,finau,sergio,rahm,"[fisher, levy, thomas, grace]"
4975,day,noren,casey,rory,"[dj, miyazato, thomas, rahm]"
4976,day,cantlay,xander,leishman,"[dj, finau, thomas, rahm]"
4977,fleetwood,hoffman,frittelli,mickelson,"[fisher, finau, thomas, rory]"
4978,chappell,spieth,thomas,bubba,"[dj, hatton, xander, rahm]"
4979,dj,hideki,casey,rahm,"[day, spieth, thomas, rory]"
4980,poulter,spieth,sergio,rahm,"[kuch, cantlay, thomas, rory]"
4981,fleetwood,hatton,woodland,rory,"[dj, spieth, sergio, rahm]"
4982,oost,hideki,thomas,bello,"[kuch, spieth, frittelli, harman]"
4983,day,hatton,simpson,bello,"[dj, noren, stanley, grace]"
4984,dj,hatton,casey,rahm,"[day, reed, thomas, rory]"
4985,kuch,reed,sergio,leishman,"[poulter, hatton, perez, rahm]"
4986,oost,cantlay,fitzpatrick,rory,"[dj, pieters, list, aphibarnrat]"
4987,dj,miyazato,frittelli,bello,"[oost, spieth, perez, rory]"
4988,kuch,hideki,perez,mickelson,"[day, spieth, sergio, rory]"
4989,day,spieth,sergio,mickelson,"[dj, hideki, thomas, rory]"
4990,day,hatton,thomas,mickelson,"[kisner, reed, casey, bubba]"
4991,fleetwood,hatton,casey,rory,"[dj, noren, thomas, rahm]"
4992,day,hatton,casey,howell III,"[fisher, spieth, thomas, rory]"
4993,dj,reed,casey,rahm,"[day, miyazato, thomas, rory]"
4994,day,noren,thomas,rory,"[dj, hatton, casey, howell III]"
4995,chappell,hatton,casey,rory,"[dj, pieters, thomas, reavie]"
4996,day,noren,woodland,reavie,"[dj, hoffman, casey, rory]"
4997,berger,cantlay,sergio,howell III,"[dj, spieth, molinari, suri]"
4998,poulter,hatton,thomas,rory,"[zj, spieth, fitzpatrick, bello]"
4999,dj,reed,sergio,rahm,"[hahn, cantlay, thomas, rory]"

In [311]:
sim_df.to_csv('/home/valesco/Datasets/wgc_matchplay_sim.csv')

In [310]:
sim_df['p1'].value_counts()

dj           1430
day          1219
fleetwood     502
zj            322
kuch          272
oost          232
fisher        198
berger        189
chappell      161
poulter        96
hadwin         76
ikeda          72
kisner         71
duf            67
hahn           59
wies           34
Name: p1, dtype: int64

In [304]:
sim_df['p2'].value_counts()

spieth        931
hatton        687
hideki        620
reed          533
cantlay       463
noren         439
pieters       216
hoffman       216
finau         187
ca. smith     166
steele        160
na            120
levy          106
li             76
schwartzel     44
miyazato       36
Name: p2, dtype: int64

In [305]:
sim_df['p3'].value_counts()

thomas         1315
casey          1039
sergio          632
woodland        313
simpson         280
perez           245
xander          212
sharma          155
list            147
frittelli       137
fitzpatrick     103
kim              97
molinari         96
henley           87
stanley          81
kizzire          61
Name: p3, dtype: int64

In [306]:
sim_df['p4'].value_counts()

rory           1379
rahm           1312
mickelson       566
leishman        315
bubba           296
grace           261
bello           244
howell III      123
aphibarnrat      96
harman           82
suri             81
reavie           71
keegan           68
kodaira          46
vegas            32
uihlein          28
Name: p4, dtype: int64