In [1]:
%load_ext Cython
#%load_ext cythonmagic
import numpy as np
from itertools import combinations, chain
from scipy.misc import comb
from datetime import datetime
import pandas as pd
import cython
from fuzzywuzzy import process
import os

In [2]:
os.chdir('/home/valesco/Datasets/PGA_Data/pga_temp')
sals = pd.read_csv('rbc_heritage_salaries.csv', sep = ';')
sals = sals[['player_name', 'salary']]
pid_df = pd.read_csv('/home/valesco/Datasets/PGA_Data/pga_master_files/player_ids.csv',
                    sep = ';')

In [3]:
def fuzz_match(x):
    matched = process.extractOne(x, player_names)
    if matched[1] > 89:
        return int(pid_df['player_id'].loc[pid_df['player_name'] == matched[0]].values[0])
    else:
        print(x)
        return "NAN"
    
player_names = pid_df['player_name'].unique()

sals['player_id'] = sals['player_name'].apply(lambda x: fuzz_match(x))

sals.head()

       player_name  salary  player_id
0      Matt Kuchar   11500      23108
1   Russell Henley   10700      34098
2  Brandt Snedeker   10500      27649
3    Branden Grace   10000      29974
4     Kevin Kisner    9700      29478

In [4]:
pid_ls = sals['player_id'].values
pid_ls = pid_ls.astype(np.int32)
sal_ls = sals['salary'].values
sal_ls = sal_ls.astype(np.int16)
sal_ls[0].dtype

dtype('int16')

In [5]:
pid_ls.shape[0]

132

In [6]:
%%cython
import numpy as np
cimport numpy as np

def create_combos(sal_array, pid_array, r):
    cdef int pid_num = pid_array.shape[0]
    cdef int sal_num = sal_array.shape[0]
    cdef np.ndarray combos = np.zeros([10000000,r], dtype = np.int32)
    cdef np.ndarray temp = np.zeros([1,r], dtype = np.int32)
    cdef int count = 0
    
    for p1 in range(pid_num):
        for p2 in range(pid_num):
            for p3 in range(pid_num):
                for p4 in range(pid_num):
                    for p5 in range(pid_num):
                        for p6 in range(pid_num):
                            temp = np.array([pid_array[p1], pid_array[p2], pid_array[p3], pid_array[p4], pid_array[p5], pid_array[p6]]).astype(np.int32)

                            if count < 10000000:
                                combos[count] = temp
                                count += 1
                    
    return combos

In [ ]:
start = datetime.now()
combo_array = create_combos(sal_ls, pid_ls, 6)
#print(len(combo_array))
elapsed = (datetime.now() - start)
elapsed.hours

In [132]:
x = [1,5,3]
np.sort(x, axis = 0)

array([1, 3, 5])

In [99]:
test_array = np.arange(12).reshape([4,3])

m = np.array([3,9,5]).astype(np.int16)

test_array[3] = m
test_array

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [3, 9, 5]])

In [ ]:
print('done')