In [12]:
import h5py
import pandas as pd
import numpy as np
from scipy import stats
import os
import zipfile
from operator import itemgetter
from pga.return_pid import return_pid
from pga.parse_dk_contest import return_contest_array
from datetime import datetime
import numpy_indexed as npi
from tqdm import tqdm

ImportError: No module named 'pga.parse_dk_contest'

In [2]:
def parse_salary_csv(df, top_players):
    pid_ls = []
    for player in sal_df['player_name'].unique():
        pid = return_pid(player)

        if pid is not np.nan:
            pid_ls.append(pid)
        else:
            print(player, 'player id not found, skipped!!')
            
    df['pid'] = pid_ls
    df['pid'] = df['pid'].apply(lambda x: int(x))
    df.sort_values(by = 'pid', inplace = True)
    df['temp_pid'] = df['pid'].rank(ascending = True)
    df['temp_pid'] = df['temp_pid'].apply(lambda x: int(x - 1))
    df['sal/100'] = df['salary'] / 100
    df['sal/100'] = df['sal/100'].apply(lambda x: int(x))
    df['sal_rank'] = df['salary'].rank(ascending = False)
    df['sal_rank'] = df['sal_rank'].apply(lambda x: int(x))
    
    salary_dict = dict(zip(np.array(df['temp_pid'].values).astype(np.int16), 
                    np.array(df['sal/100'].values).astype(np.int16)))
    pid_mapped_dict = dict(zip(np.array(df['temp_pid'].values).astype(np.int16),
                    np.array(df['pid'].values).astype(np.int16)))
    
    top_df = df.loc[df['sal_rank'] <= top_players]
    top_players_dict = dict(zip(np.array(top_df['temp_pid'].values).astype(np.int16),
                     np.array(top_df['sal/100'].values).astype(np.int16)))
    
    return df
    #return salary_dict, pid_mapped_dict, top_players_dict

In [4]:
os.chdir('/home/valesco/Datasets/dk_downloads/')

sal_df = pd.read_csv('DKSalaries (36).csv', skiprows = 7, usecols = range(7,15))
sal_df.reset_index(inplace = True, drop = True)
sal_df.columns = ['pos', 'name_id', 'player_name', 'id', 'salary', 'tournament', 'team', 'proj_points']
sal_df = sal_df.loc[sal_df['player_name'] != 'Stewart Hagestad']
sal_df = sal_df.loc[sal_df['player_name'] != 'Toto Gana']
sal_df.head()

,pos,name_id,player_name,id,salary,tournament,team,proj_points
0,G,Jordan Spieth (8422900),Jordan Spieth,8422900,11500,Masters Tournament,Golf,105
1,G,Dustin Johnson (8422944),Dustin Johnson,8422944,11300,Masters Tournament,Golf,108
2,G,Rory McIlroy (8422908),Rory McIlroy,8422908,10600,Masters Tournament,Golf,103
3,G,Jason Day (8422926),Jason Day,8422926,10200,Masters Tournament,Golf,97
4,G,Hideki Matsuyama (8422978),Hideki Matsuyama,8422978,9900,Masters Tournament,Golf,96

In [5]:
sal_df = parse_salary_csv(sal_df, 20)
sal_df.reset_index(inplace = True, drop = True)
sal_df.tail()

,pos,name_id,player_name,id,salary,tournament,team,proj_points,pid,temp_pid,sal/100,sal_rank
88,G,Daniel Berger (8422974),Daniel Berger,8422974,7300,Masters Tournament,Golf,80,40026,88,73,33
89,G,Matthew Fitzpatrick (8422939),Matthew Fitzpatrick,8422939,7400,Masters Tournament,Golf,80,40098,89,74,30
90,G,Jon Rahm (8422920),Jon Rahm,8422920,8600,Masters Tournament,Golf,95,46970,90,86,12
91,G,Brad Dalke (8422980),Brad Dalke,8422980,6200,Masters Tournament,Golf,47,49826,91,62,86
92,G,Scott Gregory (8422987),Scott Gregory,8422987,6200,Masters Tournament,Golf,47,50735,92,62,86

In [9]:
def create_points_array(df, num_sims):
    proj_array = np.zeros((len(df), num_sims + 1)).astype(np.int16)

    for index, row in df.iterrows():
        temp_pid = np.array(row['temp_pid']).astype(np.int16).reshape((1,1))
        proj_points = row['proj_points']
        std = 20

        point_sims = np.random.normal(proj_points, std, num_sims)
        flat_sim = np.round(point_sims.reshape((1, num_sims)), decimals = 0)

        flat_sim = np.hstack((temp_pid, flat_sim))

        proj_array[index] = flat_sim


    return proj_array

proj_array = create_points_array(sal_df, 1000)
proj_array

array([[  0,  83,  43, ...,  82,  63,  92],
       [  1,  64,  36, ...,  35,  48,  49],
       [  2,   2,  12, ...,  33, -18,  43],
       ...,
       [ 90,  95, 113, ...,  97,  82,  82],
       [ 91,  89,  44, ...,  61,  53,  81],
       [ 92,  29,  45, ...,  60,  65,  58]], dtype=int16)

In [11]:
sal_df['player_name'].unique()

array(['Fred Couples', 'Bernhard Langer', 'Sandy Lyle', 'Phil Mickelson',
       'Larry Mize', "Mark O'Meara", 'Ian Woosnam', 'Jose Maria Olazabal',
       'Ernie Els', 'Steve Stricker', 'Vijay Singh', 'Tiger Woods',
       'Mike Weir', 'Jim Furyk', 'Charley Hoffman', 'Lee Westwood',
       'Rod Pampling', 'Angel Cabrera', 'Sergio Garcia', 'Hideto Tanihara',
       'Henrik Stenson', 'Chris Wood', 'Trevor Immelman', 'Justin Rose',
       'Soren Kjeldsen', 'Matt Kuchar', 'Zach Johnson', "Sean O'Hair",
       'Pat Perez', 'Adam Scott', 'Bill Haas', 'Francesco Molinari',
       'Paul Casey', 'Kevin Na', 'Jimmy Walker', 'Jason Dufner',
       'Bubba Watson', 'Scott Piercy', 'Daniel Summerhays',
       'Louis Oosthuizen', 'Charl Schwartzel', 'Rafael Cabrera-Bello',
       'Ryan Moore', 'Marc Leishman', 'Yuta Ikeda', 'Jhonattan Vegas',
       'J.B. Holmes', 'Alexander Noren', 'Martin Kaymer',
       'Brandt Snedeker', 'Ross Fisher', 'Jason Day', 'Rory McIlroy',
       'Webb Simpson', 'Billy Hurley', 'Bernd Wiesberger', 'Kevin Kisner',
       'Brendan Steele', 'Branden Grace', 'Tommy Fleetwood',
       'Dustin Johnson', 'William McGirt', 'Gary Woodland', 'Brian Stuard',
       'Emiliano Grillo', 'Rickie Fowler', 'Danny Willett',
       'Roberto Castro', 'Kevin Chappell', 'James Hahn',
       'Hideki Matsuyama', 'Russell Knox', 'Shane Lowry', 'Thomas Pieters',
       'Adam Hadwin', 'Justin Thomas', 'Byeong-Hun An', 'Jordan Spieth',
       'Russell Henley', 'Hudson Swafford', 'Patrick Reed',
       'Tyrrell Hatton', 'Andy Sullivan', 'Mackenzie Hughes',
       'Brooks Koepka', 'Curtis Luck', 'Si Woo Kim', 'Jeunghun Wang',
       'Daniel Berger', 'Matthew Fitzpatrick', 'Jon Rahm', 'Brad Dalke',
       'Scott Gregory'], dtype=object)