In [99]:
%load_ext Cython
#%load_ext cythonmagic
import numpy as np
from itertools import combinations, chain
from scipy.misc import comb
from datetime import datetime
import pandas as pd
import cython
from fuzzywuzzy import process
import os

The Cython extension is already loaded. To reload it, use:
  %reload_ext Cython
The cythonmagic extension is already loaded. To reload it, use:
  %reload_ext cythonmagic

In [68]:
os.chdir('/home/valesco/Datasets/PGA_Data/pga_temp')
sals = pd.read_csv('rbc_heritage_salaries.csv', sep = ';')
sals = sals[['player_name', 'salary']]
pid_df = pd.read_csv('/home/valesco/Datasets/PGA_Data/pga_master_files/player_ids.csv',
                    sep = ';')

In [69]:
def fuzz_match(x):
    matched = process.extractOne(x, player_names)
    if matched[1] > 89:
        return int(pid_df['player_id'].loc[pid_df['player_name'] == matched[0]].values[0])
    else:
        print(x)
        return "NAN"
    
player_names = pid_df['player_name'].unique()

sals['player_id'] = sals['player_name'].apply(lambda x: fuzz_match(x))

sals.head()

       player_name  salary  player_id
0      Matt Kuchar   11500      23108
1   Russell Henley   10700      34098
2  Brandt Snedeker   10500      27649
3    Branden Grace   10000      29974
4     Kevin Kisner    9700      29478

In [79]:
pid_ls = sals['player_id'].values
pid_ls = pid_ls.astype(np.int32)
sal_ls = sals['salary'].values
sal_ls = sal_ls.astype(np.int16)
sal_ls[0].dtype

dtype('int16')

In [82]:
pid_ls.shape[0]

132

In [102]:
%%cython
cimport numpy as np

def create_combos(sal_array, pid_array):
    cdef int pid_num = pid_array.shape[0]
    cdef int sal_num = sal_array.shape[0]
    cdef np.ndarray combo = np.zeros([1,2], dtype = np.int32)
    
    for p1 in range(pid_num):
        for p2 in range(pid_num):
            if pid_array[p1] != pid_array[p2]:
                combo = np.vstack((combo, (pid_array[p1], pid_array[p2])))
                            
                    
    return combo

In [101]:
create_combos(sal_ls, pid_ls)

NameError: name 'np' is not defined